<div class="col-xs-5">
  <h3>{{'internalStockAdj.title' | translate}}</h3>
  <form [formGroup]="internalStockForm" autocomplete="off">
        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
        [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
        [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
        [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

         <div class="input-group">
             <p>{{'internalStockAdj.number' | translate}}: *</p>
             <input id="number" #focus [readonly]="nameFlag" class="form-control" [formControl]="internalStockForm.controls['number']">
         </div>
         <div class="input-group">
             <p>{{'internalStockAdj.remarks' | translate}}: *</p>
             <input id="remarks" class="form-control" [formControl]="internalStockForm.controls['remarks']">
         </div>
         <div class="input-group">
             <p>{{'internalStockAdj.date' | translate}}: *</p>
             <input id="date" class="form-control" [formControl]="internalStockForm.controls['date']">
         </div>

         <app-buttons [title]="'internal-stock-adj.title'" [deleteConfirmMsg]="'internal-stock-adj.deleteConfirmationMessage'"
         [saveConfirmMsg]="'internal-stock-adj.saveConfirmationMessage'" [saveInfoMsg]="'internal-stock-adj.saveInformationMessage'"
         [endPoint]="endPoint"
         [deleteInfoMsg]="'internal-stock-adj.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
         [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true
         [hideDeleteBtn]=false [formObj]="internalStockForm" (saveRecord)="save()"
         (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
         (afterSuccess)="successMsg()" (resetForm)="resetForm()"></app-buttons>

  </form>
</div>

<div class="col-xs-7">
  <br /><br />
  <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
  [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'InternalStockAdj'"></app-synectiks-common-grid>
</div>
