

<!--image adding and maps
<img src="{{vm.src()}}">
<script src="http://maps.google.com/maps/api/js"></script>
<div map-lazy-load="https://maps.google.com/maps/api/js">
  <ng-map center="43.587846,-79.629481" zoom="15"></ng-map>
</div>
-->


<!-- 
<div class="d-flex-resp" style="float: left;padding:0em;width: 100%" >

<span class="sm-btn-resp" style="float: right;padding:1em;width: 100% ">
   
    <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false">
      <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown1.isOpen=true"  (mouseleave) ="dropdown1.isOpen=false">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
      </button>
      <div id="dropdownMaster" style="width:100%; " (mouseenter) ="dropdown1.isOpen=true"  (mouseleave) ="dropdown1.isOpen=false" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
     <div class="col-md-12">
        <form class="form-horizontal" role="form" class="form" >
          <div class="form-group" style="width:100%;">
            <label for="filter">Filter by</label>
            <select class="form-control" style="width:100%;">
              <option value="0" selected>Town</option>
              <option value="1">Featured</option>
              <option value="2">Most popular</option>
              <option value="3">Top rated</option>
              <option value="4">Most commented</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option value="0" selected>Account Code</option>
              <option value="1">Featured</option>
              <option value="2">Most popular</option>
              <option value="3">Top rated</option>
              <option value="4">Most commented</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option value="0" selected>GST No</option>
              <option value="1">Featured</option>
              <option value="2">Most popular</option>
              <option value="3">Top rated</option>
              <option value="4">Most commented</option>
            </select>
          </div>
        </form>
      </div>
      </div>
    </div>
</span>
</div>


   -->