<header></header>
<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-md-12 card">
  <div class="row">

    <div class="col-md-12 header">
      <div class="col-md-6">
        <div class="row">
          <!-- <p class="pointer">Sign In</p> -->
        </div>
      </div>
      <div class="col-md-6">
          <div class="row">
              <h4>Login</h4>
          </div>
        </div>
      <div class="col-md-6">
        <div class="row">
          <!-- <p class="pointer">Forgot Password?</p> -->
        </div>
      </div>
    </div>
    <!-- header -->


      <div class="col-md-12">
       
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="error-text col-md-12" *ngIf="badCredentials">
              <p class="text-danger">Invalid Username or Password!!</p>
            </div>
            <div class="error-text col-md-12" *ngIf="formError">
              <p class="text-danger">Username and Password is mandatory!</p>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="usernameOrEmail" class="form-control" [formControl]="loginForm.controls['usernameOrEmail']"
                placeholder="Username">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" class="form-control" [formControl]="loginForm.controls['password']"
                placeholder="Password">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input id="logonDate" type="date" class="form-control" [formControl]="loginForm.controls['logonDate']"
                placeholder="Log on Date">
            </div>

            <!-- <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div> -->
            <!-- <div class="row line"></div> -->
            <div class="row btn-admin mr-l-2">
              <div class="col-md-12 ">
                  <div class="row col-md-4">
                      <button type="reset" class="btn btn-success" (resetForm)="resetForm()">Reset</button>
                    </div>
                <div class="row">
                  <button type="submit" class="btn btn-success">Login</button>
                </div>
              </div>
            </div>
          </form>
        
        <!--   <div class="row line"></div>
       <div class="row">
          <div class="col-xs-12 card-footer">
            <div class="row">
              <p>
                Don't have an Account! <span><a [routerLink]="['signup']" >Sign Up Here</a></span>
              </p>
            </div>
          </div>
        </div> -->
           <!-- card-body -->
          </div>
  </div>
</div>
