<div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3>Business Executives</h3>
        <form [formGroup]="businessExecutiveForm" autocomplete="off">
          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
          [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
           [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

          <div class="input-group">
            <p>Name: *</p>
            <input id="name" #focus [readonly]="nameFlag" (blur)="checkForDuplicateBusiExecName()"  class="form-control" [formControl]="businessExecutiveForm.controls['name']">
          </div>
            <div class="input-group">
              <p>Address: *</p>
              <input id="address" class="form-control"  [formControl]="businessExecutiveForm.controls['address']">
          </div>
          <div class="input-group">
              <p>Town: *</p>
              <input id="town" #focus  class="form-control" [formControl]="businessExecutiveForm.controls['town']">
            </div>
              <div class="input-group">
                <p>Mobile: *</p>
                <input id="mobile" class="form-control"  (blur)="validateFormOnBlur()" [formControl]="businessExecutiveForm.controls['mobile']">
            </div>

            <app-buttons [title]="formTitle" [deleteConfirmMsg]="deleteConfirmMsg"
                         [saveConfirmMsg]="saveConfirmMsg" [saveInfoMsg]="saveInfoMsg" [endPoint]="endPoint"
                         [deleteInfoMsg]="deleteInfoMsg" [duplicateMessage]="duplicateMessage"
                         [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true
                         [hideDeleteBtn]=true [formObj]="businessExecutiveForm" (saveRecord)="save()"
                         (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                         (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" ></app-buttons>

          
        </form>
      </div>

      <div class="col-md-7">
        <br /><br />
        <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [gridColumnList]="gridColumnNamesList"></app-synectiks-common-grid>
      </div>

    </div>

  </div>
