<div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3>States </h3>
        <form [formGroup]="statesForm" autocomplete="off">
          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
          [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
           [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

            <div class="input-group">
              <p>State Name: *</p>
              <input id="stateName" #focus [readonly]="nameFlag" (blur)="checkForDuplicateStateName()" class="form-control" [formControl]="statesForm.controls['stateName']">
          </div>
          <div class="input-group">
              <p>Code: *</p>
              <input id="stateCode" [readonly]="duplicateStateName" (blur)="checkForDuplicateStateCode()" class="form-control" [formControl]="statesForm.controls['stateCode']">
            </div>
            
              <div class="input-group">
                  <p>Zone: *</p>
                 <input id="zone" formControlName="zone" [typeahead]="stateZone" typeaheadOptionField="description"
                [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"   class="form-control">
                  <span class="caret"></span>
            </div>

              <app-buttons [title]="formTitle" [deleteConfirmMsg]="deleteConfirmMsg"
                           [saveConfirmMsg]="saveConfirmMsg" [saveInfoMsg]="saveInfoMsg" [endPoint]="endPoint"
                           [deleteInfoMsg]="deleteInfoMsg" [duplicateMessage]="duplicateMessage"
                           [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true
                           [hideDeleteBtn]=true [formObj]="statesForm" (saveRecord)="save()"
                           (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                           (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" ></app-buttons>
        </form>
      </div>

      <div class="col-md-7">
        <br /><br />

        <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="statesList" (valueChange)='valueChange($event)' [gridColumnList]="statesListColumns"></app-synectiks-common-grid>
      </div>

    </div>

  </div>
