<div class="col-md-12">
    <div class="row">
        <div class="col-md-5">
            <h3>{{'customerdiscount.title' | translate}}</h3>
            <form [formGroup]="customerDiscountForm" (ngSubmit)="saveForm()" autocomplete="off">
                <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
                    [formServerError]="formServerError" [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

                <div class="input-group">
                    <p>{{'customerdiscount.name' | translate}}</p>
                    <input id="customer" #focus [readonly]="nameFlag" (blur)="checkForDuplicateCustomerName()" class="form-control capitalize"
                        [formControl]="customerDiscountForm.controls['customer']">
                </div>
                <div class="input-group">
                    <p>{{'companies.name' | translate}}: * &emsp; (<a style="cursor: pointer" (click)="openModal(cmpTemplate)">create</a>)</p>
                    <input id="companyCode" formControlName="companyCode" [typeahead]="typeaheadCompanyDataList"
                        typeaheadOptionField="companyName" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
                        (typeaheadOnSelect)="loadSelectedCompanyTypeahead($event)" class="form-control capitalize">
                    <span class="caret"></span>
                </div>

                <div class="input-group">
                    Do you want to apply same discount for all the companies?
                    <input name="discountType"  formControlName="discountType" type="radio" [value]="true" [checked]="discountType"/> Yes
                   <input name="discountType" formControlName="discountType" type="radio" [value]="false" [checked]="!discountType"/> No
                </div>

                <div *ngIf="customerDiscountForm.controls['discountType'].value" class="input-group" >
                    <p>{{'customerdiscount.disc' | translate}}: *</p>
                    <input id="discount" type="number" min="0" maxlength="5" step="0.01" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                     #focus [readonly]="nameFlag" class="form-control" [formControl]="customerDiscountForm.controls['discount']">
                </div>
                <!-- <div class="input-group btn-pad">
                    <button type="button" (click)="resetForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
                    <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
                    <button type="button" [disabled]="deleteFlag" (click)="showConfirmationModal('Delete')"
                    class="btn btn-danger float-right">{{'button.delete' | translate }}</button>
                </div> -->

                <app-buttons class="btn-pad" [title]="'customerdiscount.title'" [deleteConfirmMsg]="'customerdiscount.deleteConfirmationMessage'"
                [saveConfirmMsg]="'customerdiscount.saveConfirmationMessage'" [saveInfoMsg]="'customerdiscount.saveInformationMessage'"
                [endPoint]="endPoint"
                [deleteInfoMsg]="'customerdiscount.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true
                [hideDeleteBtn]=true [formObj]="customerDiscountForm" (saveRecord)="save()"
                (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" ></app-buttons>
            </form>
        </div>

        <div class="col-md-7">
            <br /><br />
            <app-synectiks-common-grid [endPoint]="endPoint" [rowSelection]="'multiple'" (intialLoad)='onInitialDataLoad($event)'
                [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'CustomerDiscountColumns'"></app-synectiks-common-grid>
        </div>
    </div>
</div>


<!-- Company Modal -->
<ng-template #cmpTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{'companies.create' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="companyForm" (ngSubmit)="saveChildCmpForm()" autocomplete="off">
          <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess" [formServerError]="scFormServerError"
              [duplicateMessage]="childDuplicateMessage" [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

              <div class="input-group">
                <p>{{'companies.name' | translate}}: *</p>
                <input id="companyName" maxlength="40"  #focus [readonly]="nameFlag" (blur)="checkForDuplicateCompanyName()"  class="form-control capitalize" [formControl]="companyForm.controls['companyName']">
            </div>

          <div class="input-group">
              <p>{{'companies.code' | translate}}: *</p>
              <input id="companyCode"  maxlength="40" #focus (blur)="checkForDuplicateCompanyCode()" class="form-control" [formControl]="companyForm.controls['companyCode']">
          </div>

          <!-- <div class="input-group">
            <p>{{'companygroup.name' | translate }}: * &emsp; (<a style="cursor: pointer"  (click)="openModal(template)">create new</a>)</p>
            <input id="companyGroup" maxlength="20" formControlName="companyGroup" [typeahead]="typeaheadDataList" typeaheadOptionField="companyGroup"
            [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="loadSelectedTypeahead($event)" class="form-control capitalize">
            <span class="caret"></span>
    </div> -->

    <div class="input-group">
      <p>{{'companygroup.name' | translate }}: * &emsp; </p>
      <input id="companyGroupName" maxlength="20" formControlName="companyGroupName" [typeahead]="typeaheadCompanyGroupDataList" typeaheadOptionField="companyGroupName"
      [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="loadCompanyGroupTypeaheadData($event)" class="form-control capitalize"/>
      <span class="caret"></span>
    </div>

          <div class="input-group">
            <p>{{'companies.type' | translate}}: *</p>
            <input id="companyType" maxlength="10" class="form-control" [formControl]="companyForm.controls['companyType']"
            [typeahead]="companyTypeList" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" >
            <span class="caret"></span>
          </div>

          <div class="input-group">
            <p>{{'companies.status' | translate}}: *</p>
            <input id="companyStatus" maxlength="10" class="form-control" [formControl]="companyForm.controls['companyStatus']"
            [typeahead]="companyStatusList" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
            <span class="caret"></span>
        </div>

        <div class="input-group">
            <p>{{'companies.invGenType' | translate}}: *</p>
            <input id="invGenType" maxlength="8" class="form-control" [formControl]="companyForm.controls['invGenType']"
            [typeahead]="invGenList" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
          <span class="caret"></span>
          </div>
          <div class="input-group">
            <p>{{'companies.invPrefix' | translate}}: *</p>
            <input id="invPrefix" maxlength="10" class="form-control" [formControl]="companyForm.controls['invPrefix']">
          </div>

          <div class="input-group">
              <button type="button" (click)="resetChildForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
              <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
          </div>
      </form>
  </div>
</ng-template>


<!-- Company Group Modal -->
<!-- <ng-template #cgTemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{'companygroup.create' | translate }}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="companyGroupForm" (ngSubmit)="saveChildForm()" autocomplete="off">
            <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess"
            [formServerError]="scFormServerError" [duplicateMessage]="childDuplicateMessage"
             [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

            <div class="input-group">
              <p>{{'companygroup.name' | translate }}: *</p>
              <input id="companyGroupName" maxlength="20" #focus (blur)="checkForDuplicateCompanyGroup()" class="form-control capitalize"
              [formControl]="companyGroupForm.controls['companyGroupName']">
            </div>

                <div class="input-group">
                  <button type="button" (click)="resetChildForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
                  <button type="submit"  class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
                </div>
          </form>
        </div>
      </ng-template> -->
