<div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3>Company Group</h3>
        <form [formGroup]="companyGroupForm" autocomplete="off">
          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
          [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
           [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

          <div class="input-group">
            <p>Company Group: *</p>
            <input id="companyGroup" #focus [readonly]="nameFlag" (blur)="checkForDuplicateCompanyGrp()" class="form-control"  [formControl]="companyGroupForm.controls['companyGroup']">
          </div>

          <app-buttons [title]="formTitle" [deleteConfirmMsg]="deleteConfirmMsg"
               [saveConfirmMsg]="saveConfirmMsg" [saveInfoMsg]="saveInfoMsg" [endPoint]="endPoint"
               [deleteInfoMsg]="deleteInfoMsg" [duplicateMessage]="duplicateMessage"
               [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]="!nameFlag"
               [hideDeleteBtn]=true [formObj]="companyGroupForm" (saveRecord)="save()"
               (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
               (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" ></app-buttons>
        </form>
      </div>

      <div class="col-md-7">
        <br /><br />
        <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [gridColumnList]="gridColumnNamesList"></app-synectiks-common-grid>
      </div>
    </div>
  </div>
