<div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3>Districts</h3>
        <form [formGroup]="districtsForm"  autocomplete="off">
          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
          [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
           [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

          <div class="input-group">
            <p >District Name: *</p>
            <input id="districtName" maxlength="20" #focus [readonly]="nameFlag" (blur)="checkForDuplicateDistName()"  class="form-control" [formControl]="districtsForm.controls['districtName']">
          </div>
            <div class="input-group">
              <p >State Name: * &emsp; (<a style="cursor: pointer" (click)="openModal(template)">create new</a>)</p>
              <input id="stateName" maxlength="20" formControlName="stateName" [typeahead]="statesList" typeaheadOptionField="stateName"
                [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="onSelectState($event)" class="form-control">
                <span class="caret"></span>
          </div>

          <app-buttons [title]="'districts.title'" [deleteConfirmMsg]="'districts.deleteConfirmationMessage'"
                 [saveConfirmMsg]="'districts.saveConfirmationMessage'" [saveInfoMsg]="'districts.saveInformationMessage'"
                 [endPoint]="endPoint"
                 [deleteInfoMsg]="'districts.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                 [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true
                 [hideDeleteBtn]=true [formObj]="districtsForm" (saveRecord)="save()"
                 (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                 (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" ></app-buttons>

        </form>
      </div>

      <div class="col-md-7">
        <br /><br />

        <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
         [gridDataList]="districtsList" (valueChange)='valueChange($event)'
         [gridColumnList]="districtsColumns"></app-synectiks-common-grid>
      </div>

    </div>

  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create State</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="statesForm" autocomplete="off">

        <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess"
        [formServerError]="scFormServerError" [duplicateMessage]="childDuplicateMessage"
         [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

      <div class="input-group">
          <p >State Name: *</p>
          <input id="stateName" maxlength="20" class="form-control" (blur)="checkForDuplicateStateName()" [formControl]="statesForm.controls['stateName']">
      </div>
      <div class="input-group">
          <p >Code: *</p>
          <input id="stateCode" min="0" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          class="form-control" (blur)="checkForDuplicateStateCode()" [formControl]="statesForm.controls['stateCode']">
        </div>

        <div class="input-group">
            <p >Zone: *</p>
           <input id="zone" maxlength="7" formControlName="zone" [typeahead]="stateZone" typeaheadOptionField="description"
          [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"   class="form-control">
            <span class="caret"></span>
      </div>

      <app-buttons [title]="'states.title'" [deleteConfirmMsg]="'states.deleteConfirmationMessage'"
             [saveConfirmMsg]="'states.saveConfirmationMessage'" [saveInfoMsg]="'states.saveInformationMessage'"
             [endPoint]="stateEndPoint"
             [deleteInfoMsg]="'states.deleteInformationMessage'" [duplicateMessage]="childDuplicateMessage"
             [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true
             [hideDeleteBtn]=false [formObj]="statesForm" (saveRecord)="saveState()"
             (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
             (afterSuccess)="successMsg()" (resetForm)="resetStatesForm()" (serverErrMsg)="serverErrMsg()"></app-buttons>

      </form>

    </div>
  </ng-template>
