<div class="dashboard-navbar">


  <div class="row">
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Master
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Schedule</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['subschedule']">Sub-Schedule</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Purchase
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Sales
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Inventory Reports
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Finance
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Finance Reports
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            GST Reports
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown>
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Miscellaneous
          </button>
          <ul id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 