<div class="col-md-12">
  <div class="row">
    <div class="col-md-5">
      <h3>Bank Information</h3>
      <form [formGroup]="bankInformationForm" autocomplete="off">

        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
              [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
                [duplicateMessageParam]="duplicateMessageParam">
        </app-errormessages>

        <div class="input-group">
          <p>Bank Name: *</p>
          <input id="name" #focus [readonly]="nameFlag" (blur)="checkForDuplicateBankName()" class="form-control" [formControl]="bankInformationForm.controls['name']">
        </div>
        <div class="input-group">
            <p>Bank Address: *</p>
            <input id="address" class="form-control" [formControl]="bankInformationForm.controls['address']">
        </div>
        
        <app-buttons [title]="formTitle" [deleteConfirmMsg]="deleteConfirmMsg"
               [saveConfirmMsg]="saveConfirmMsg" [saveInfoMsg]="saveInfoMsg" [endPoint]="endPoint"
               [deleteInfoMsg]="deleteInfoMsg" [duplicateMessage]="duplicateMessage"
               [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true
               [hideDeleteBtn]=true [formObj]="bankInformationForm" (saveRecord)="save()"
               (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
               (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" >
        </app-buttons>
      </form>
    </div>
    <div class="col-md-7">
      <br /><br />
      <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'  [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [gridColumnList]="gridColumnNamesList"></app-synectiks-common-grid>
    </div>
  </div>
</div>
