<div class="col-xs-5">
  <h3>{{'bankinfo.title' | translate }}</h3>
  <form [formGroup]="bankInformationForm" autocomplete="off">

    <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()"
      [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam">
    </app-errormessages>

    <div class="input-group">
      <p>{{'bankinfo.name' | translate }}: *</p>
      <input id="name" maxlength="20" #focus [readonly]="nameFlag" (blur)="checkForDuplicateBankName()" class="form-control capitalize" [formControl]="bankInformationForm.controls['name']">
    </div>

    <div class="input-group">
      <p>{{'bankinfo.address' | translate }}: *</p>
      <input id="address" maxlength="20" class="form-control" [formControl]="bankInformationForm.controls['address']">
    </div>

    <app-buttons [title]="'Bank Information'" [deleteConfirmMsg]="'bankinfo.deleteConfirmationMessage'" [saveConfirmMsg]="'bankinfo.saveConfirmationMessage'" [saveInfoMsg]="'bankinfo.saveInformationMessage'" [endPoint]="endPoint" [deleteInfoMsg]="'bankinfo.deleteInformationMessage'"
      [duplicateMessage]="duplicateMessage" [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true [hideDeleteBtn]=true [formObj]="bankInformationForm" (saveRecord)="save()" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
      (afterSuccess)="successMsg()" (resetForm)="resetForm()">
    </app-buttons>
  </form>
</div>

<div class="col-xs-7">
  <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'BankInformationColumns'"></app-synectiks-common-grid>
</div>
