<div class="col-xs-5">
  <h3>{{'purchaseReturn.title' | translate}}</h3>
  <form [formGroup]="purchaseReturnsForm" autocomplete="off">
        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
        [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
        [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
        [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

        <div class="input-group">
            <p>{{'purchaseReturn.purchRetNumber' | translate}}: *</p>
            <input id="purReturnNumber" maxlength="30" (blur)="checkForDuplicatePurRetnNo()" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseReturnsForm.controls['purReturnNumber']">
        </div>

        <div class="input-group">
            <p>{{'common.supplier' | translate}}: *</p>
            <input id="supplier" maxlength="50" class="form-control" [formControl]="purchaseReturnsForm.controls['supplier']">
        </div>

        <div class="input-group">
            <p>{{'common.remarks' | translate}}: *</p>
            <input id="remarks" maxlength="40" class="form-control" [formControl]="purchaseReturnsForm.controls['remarks']">
        </div>

        <div class="input-group">
            <p>{{'common.date' | translate}}: *</p>
            <input id="date" type="date" class="form-control" [formControl]="purchaseReturnsForm.controls['date']">
        </div>

      <app-buttons [title]="'purchaseReturn.title'" [deleteConfirmMsg]="'purchaseReturn.deleteConfirmationMessage'"
      [saveConfirmMsg]="'purchaseReturn.saveConfirmationMessage'" [saveInfoMsg]="'purchaseReturn.saveInformationMessage'"
      [endPoint]="endPoint"
      [deleteInfoMsg]="'purchaseReturn.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
      [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true
      [hideDeleteBtn]=false [formObj]="purchaseReturnsForm" (saveRecord)="save()"
      (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
      (afterSuccess)="successMsg()" (resetForm)="resetForm()"></app-buttons>

  </form>
</div>

<div class="col-xs-7">
<br /><br />
<app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
[gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'PurchaseReturns'"></app-synectiks-common-grid>
</div>
