<div class="col-xs-12">
    <h3>{{'purchaseReturn.title' | translate}}</h3>
    <form [formGroup]="purchaseReturnsForm" autocomplete="off">
        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()"
            [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()"
            [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="duplicateMessage"
            [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

            <div class="col-xs-3 mr-t-1">
                <p>{{'purchaseReturn.purReturnNumber' | translate}}: *</p>
                <input id="purReturnNumber" maxlength="40" #focus [readonly]=true class="form-control" [formControl]="purchaseReturnsForm.controls['purReturnNumber']">
            </div>
            <div class="col-xs-3 mr-t-1">
                <p>{{'common.date' | translate}}: *</p>
                <input id="date" type="date" class="form-control" [formControl]="purchaseReturnsForm.controls['date']">
            </div>

            <div class="col-xs-3 mr-t-1">
                <p>{{'common.supplier' | translate}}: *</p>
                <input id="supplier"  maxlength="20" class="form-control" formControlName="supplier"
                    typeaheadOptionField="accountName" [typeahead]="suppliersList" (typeaheadOnSelect)="onSelectSupplier($event)"
                    [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                <span class="caret"></span>
            </div>

            <div class="col-xs-3 mr-t-1">
                <p>{{'common.remarks' | translate}}: *</p>
                <input id="remarks" maxlength="40" class="form-control" [formControl]="purchaseReturnsForm.controls['remarks']">
                <span class="caret hide-caret"></span>
            </div>

            <div class="col-xs-3 mr-t-1">
                <p>{{'common.productName' | translate}}: *</p>
                <input id="productName"  class="form-control" formControlName="productName" typeaheadOptionField="name"
                    [typeahead]="productsList" (typeaheadOnSelect)="onSelectProduct($event)" [typeaheadOptionsLimit]="7"
                    [typeaheadMinLength]="0">
                <span class="caret"></span>
            </div>
            <div class="col-xs-3 mr-t-1">
                <p>{{'common.batch' | translate}}: *</p>
                <input id="batch" maxlength="12" class="form-control" [formControl]="purchaseReturnsForm.controls['batch']">
            </div>

            <div class="col-xs-3 mr-t-1">
                <p>{{'common.qty' | translate}}: *</p>
                <input id="qty"  type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="form-control" (blur)="calculateRate()" [formControl]="purchaseReturnsForm.controls['qty']">
                <span class="caret hide-caret"></span>
            </div>
            <div class="col-xs-3 mr-t-1">
                <p>{{'common.free' | translate}}: *</p>
                <input id="free" #focus [readonly]=true type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="form-control" [formControl]="purchaseReturnsForm.controls['free']">
                <span class="caret hide-caret"></span>
            </div>
            <div class="col-xs-3 mr-t-1">
                <p>{{'purchaseReturn.pRate' | translate}}: *</p>
                <input id="pRate" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="form-control" [formControl]="purchaseReturnsForm.controls['pRate']">
            </div>

            <div class="col-xs-12">
                    <app-buttons [title]="'purchaseReturn.title'" [deleteConfirmMsg]="'purchaseReturn.deleteConfirmationMessage'"
                     [saveConfirmMsg]="'purchaseReturn.saveConfirmationMessage'" [saveInfoMsg]="'purchaseReturn.saveInformationMessage'"
                     [endPoint]="endPoint" [deleteInfoMsg]="'purchaseReturn.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                     [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true [hideDeleteBtn]=true [formObj]="purchaseReturnsForm"
                     (saveRecord)="save()" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()" (afterSuccess)="successMsg()"
                     (resetForm)="resetForm()"></app-buttons>
                </div>
    </form>
</div>

<div class="col-xs-12">
    <br /><br />
    <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
        (valueChange)='valueChange($event)' [screenColums]="'PurchaseReturnColumns'"></app-synectiks-common-grid>
</div>