<div class="col-xs-5">
  <h3>{{'purchaseReturn.title' | translate}}</h3>
  <form [formGroup]="purchaseReturnsForm" autocomplete="off">
    <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()" [duplicateMessage]=null [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessageParam]=null>
    </app-errormessages>

    <fieldset>
      <legend>Input Area</legend>
      <div class="col-xs-6">
        <p>{{'common.date' | translate}}: *</p>
        <input id="date" type="date" class="form-control" [formControl]="purchaseReturnsForm.controls['date']">
      </div>

      <div class="col-xs-6">
        <p>{{'common.supplier' | translate}}: *</p>
        <input id="supplier" maxlength="20" class="form-control" formControlName="supplier" typeaheadOptionField="accountName" [typeahead]="suppliersList" (typeaheadOnSelect)="onSelectSupplier($event)" [typeaheadMinLength]="0"
          [typeaheadOptionsLimit]="7">
        <span class="caret"></span>
      </div>

      <div class="col-xs-6">
        <p>{{'common.productName' | translate}}: *</p>
        <input id="productName" class="form-control" formControlName="productName" typeaheadOptionField="name" [typeahead]="productsList" [typeaheadMinLength]="0" (typeaheadOnSelect)="onSelectProduct($event)" [typeaheadOptionsLimit]="7">
        <span class="caret"></span>
      </div>

      <div class="col-xs-6">
        <p>{{'common.qty' | translate}}: *</p>
        <input id="qty" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" (blur)="calculateRate()" [formControl]="purchaseReturnsForm.controls['qty']">
        <span class="caret hide-caret"></span>
      </div>

      <div class="col-xs-6">
        <p>{{'common.batch' | translate}}: *</p>
        <input id="batch" maxlength="12" class="form-control" [formControl]="purchaseReturnsForm.controls['batch']">
      </div>

      <div class="col-xs-12">
        <p>{{'common.remarks' | translate}}: *</p>
        <input id="remarks" maxlength="40" class="form-control" [formControl]="purchaseReturnsForm.controls['remarks']">
        <span class="caret hide-caret"></span>
      </div>
    </fieldset>

    <fieldset>
      <legend>Calculations</legend>
      <div class="col-xs-4">
        <p>{{'purchaseReturn.purReturnNumber' | translate}}: *</p>
        <input id="purReturnNumber" maxlength="40" #focus [readonly]=true class="form-control" [formControl]="purchaseReturnsForm.controls['purReturnNumber']">
      </div>
      <div class="col-xs-4">
        <p>{{'common.free' | translate}}: *</p>
        <input id="free" #focus [readonly]=true type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" [formControl]="purchaseReturnsForm.controls['free']">
        <span class="caret hide-caret"></span>
      </div>
      <div class="col-xs-4">
        <p>{{'purchaseReturn.pRate' | translate}}: *</p>
        <input id="pRate" type="number" [readonly]=true maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="form-control" [formControl]="purchaseReturnsForm.controls['pRate']">
      </div>
    </fieldset>

    <app-buttons [title]="'purchaseReturn.title'" [endPoint]="endPoint" [hideSaveBtn]=true [deleteConfirmMsg]="'purchaseReturn.deleteConfirmationMessage'" [hideResetBtn]=true [saveConfirmMsg]="'purchaseReturn.saveConfirmationMessage'" (afterSuccess)="successMsg()"      [hideDeleteBtn]=true [saveInfoMsg]="'purchaseReturn.saveInformationMessage'" (saveRecord)="save()" [deleteInfoMsg]="'purchaseReturn.deleteInformationMessage'" [duplicateMessage]=null [isBtnDeleteDisable]="deleteFlag" [formObj]="purchaseReturnsForm" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()" (resetForm)="resetForm()">
    </app-buttons>

  </form>
</div>

<div class="col-xs-7">
  <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'PurchaseReturnColumns'">
  </app-synectiks-common-grid>
</div>
