              <div class="col-md-12 card">
                          <div class="row">                        
                            <div class="col-md-12 header">
                                <h4>{{'preferences.title'| translate}}</h4>                          </div> <!-- header -->
                        
                        <form [formGroup]="PreferencesForm" autocomplete="off">                          <div class="col-md-12 card-body">                                                                      
                            <div class="col-md-12"><!-- start of preferences-->
                             
                              
                              <div class="checkbox">
                                  <label><input type="checkbox"> FloatValues</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> DoubleValues</label>
                                  </div>
                                  <div class="checkbox">
                                      <label><input type="checkbox"> IntegerValues</label>
                                    </div>
                                
                                       
                              
                             
                        
                             
                        
                             
                        
                             
                        
                              
                        
                              
                        
                             
                        
                        
                              
                            </div><!-- end of preferences-->
                          </div>
                        </form>
                        
                          </div> <!-- row -->
                        </div> <!-- main div  -->
                        