<div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3>Companies</h3>
        <form [formGroup]="companyForm" (ngSubmit)="saveForm()" autocomplete="off">
          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
          [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
           [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

           <div class="input-group">
             <p>Company Name: *</p>
             <input id="companyName"  #focus [readonly]="nameFlag" (blur)="checkForDuplicateCompanyName()"  class="form-control" [formControl]="companyForm.controls['companyName']">
         </div>


          <div class="input-group">
            <p>Company Code: *</p>
            <input id="companyCode" (blur)="checkForDuplicateCompanyCode()" class="form-control" [formControl]="companyForm.controls['companyCode']">
          </div>


          <div>

            <div class="col-md-6 col-lt">
              <p>Company Group: * &emsp; (<a style="cursor: pointer"  (click)="openModal(template)">create new</a>)</p>

              <input id="companyGroup" formControlName="companyGroup" [typeahead]="typeaheadDataList" typeaheadOptionField="companyGroup"
              [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="loadSelectedTypeahead($event)" class="form-control">
              <span class="caret"></span>

            </div>

              <div class="col-md-6 col-rt">
                <p>Company Type: *</p>
                <input id="companyType" class="form-control" [formControl]="companyForm.controls['companyType']">
            </div>
          </div>

            <div class="input-group">
              <p>Company Status: *</p>
              <input id="companyStatus" class="form-control" [formControl]="companyForm.controls['companyStatus']">
          </div>

          <div >
            <div class="col-md-6 col-lt">
              <p>Inv.Gen.Type</p>
              <input id="invGenType" class="form-control" [formControl]="companyForm.controls['invGenType']">
            </div>
            <div class="col-md-6 col-rt">
              <p>Inv.Prefix</p>
              <input id="invPrefix" class="form-control" [formControl]="companyForm.controls['invPrefix']">
            </div>
          </div>
              <div class="input-group">
                <button type="button" (click)="resetForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
                <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
                <button type="button" [disabled]="deleteFlag" (click)="showConfirmationModal('Delete')" class="btn btn-danger float-right">{{'button.delete' | translate }}</button>
              </div>
        </form>
      </div>

      <div class="col-md-7">
        <br /><br />

        <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'  [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [gridColumnList]="gridColumnNamesList"></app-synectiks-common-grid>
      </div>

    </div>

  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create Company Group </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="companyGroupForm" (ngSubmit)="saveChildForm()" autocomplete="off">
        <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess"
        [formServerError]="scFormServerError" [duplicateMessage]="childDuplicateMessage"
         [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

        <div class="input-group">
          <p>Company Group: *</p>
          <input id="companyGroup" #focus (blur)="checkForDuplicateCompanyGrp()" class="form-control"
          [formControl]="companyGroupForm.controls['companyGroup']">
        </div>

            <div class="input-group">
              <button type="button" (click)="resetChildForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
              <button type="submit"  class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
            </div>
      </form>
    </div>
  </ng-template>
