<div class="col-md-5">
    <h3>Purchase</h3>
    <form [formGroup]="purchaseForm" (ngSubmit)="saveForm()" autocomplete="off">
        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="formServerError"
            [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

    </form>
</div>


<div class="col-md-12 mr-b-2">
    <div class="row">
        <div class="col-sm-6">
            <form class="form">
                <div class="col-md-6 col-lt">
                    <p>Purchase Number: *</p>
                    <input id="purchaseNumber" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['purchaseNumber']">
                </div>
                <div class="col-md-6 col-lt">
                    <p>Invoice Number: *</p>
                    <input id="invoiceNumber" class="form-control" [formControl]="purchaseForm.controls['invoiceNumber']">
                </div>
                <div class="col-md-12 col-lt">
                    <p>Supplier: *</p>
                    <input id="id" class="form-control" [formControl]="purchaseForm.controls['id']">
                </div>
                <div class="col-md-12 col-lt">
                    <p>GSTIN: *</p>
                    <input id="gstin" class="form-control" [formControl]="purchaseForm.controls['gstin']">
                </div>
                <div class="col-md-4 col-lt">
                    <p>Way-Bill Number: *</p>
                    <input id="wayBill" class="form-control" [formControl]="purchaseForm.controls['wayBill']">
                </div>
                <div class="col-md-4 col-lt">
                    <p>Transport: *</p>
                    <input id="transport" class="form-control" [formControl]="purchaseForm.controls['transport']">
                </div>
                <div class="col-md-4 col-lt">
                    <p>CS: *</p>
                    <input id="id" class="form-control" [formControl]="purchaseForm.controls['id']">
                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <form class="form">
                <div class="col-md-6 col-lt">
                    <p>Date: *</p>
                    <input id="date" class="form-control" [formControl]="purchaseForm.controls['date']">
                </div>
                <div class="col-md-6 col-lt">
                    <p>Invoice Date: *</p>
                    <input id="invoiceDate" class="form-control" [formControl]="purchaseForm.controls['invoiceDate']">
                </div>
                <div class="col-md-6 col-lt">
                    <p>Mode: *</p>
                    <input id="mode" class="form-control" [formControl]="purchaseForm.controls['mode']">
                </div>
                <div class="col-md-6 col-lt">
                    <p>LR Number: *</p>
                    <input id="lrNumber" class="form-control" [formControl]="purchaseForm.controls['lrNumber']">
                </div>

                <div class="col-md-6 col-lt">
                    <p>LR Date: *</p>
                    <input id="lrDate" class="form-control" [formControl]="purchaseForm.controls['lrDate']">
                </div>
                <div class="col-md-6 col-lt">
                    <p>Delivered From: *</p>
                    <input id="delvFrom" class="form-control" [formControl]="purchaseForm.controls['delvFrom']">
                </div>
            </form>
        </div>
        <!-- Table Start -->
        <div class="row pane">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="purchaseDetailTable1" class="table table-header table-lg table-bordered">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Product Name</th>
                                <th>Batch</th>
                                <th>Expiry</th>
                                <th>Quantity</th>
                                <th>Free</th>
                                <th>Purchase Rate</th>
                                <th>Other Charges</th>
                                <th>GRS Value</th>
                                <th>Discount</th>
                                <th>PTD</th>
                                <th>Sale Rate</th>
                                <th>Tax</th>
                                <th>HSN</th>
                                <th>MRP</th>
                                <th>Mfg Name</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <input id="productCode" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['productCode']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="productName" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['productName']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="batch" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['batch']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="expiry" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['expiry']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="qty" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['qty']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="free" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['free']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="purRate" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['purRate']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="othCharges" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['othCharges']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="grsValue" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['grsValue']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="discount" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['discount']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="ptd" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['ptd']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="saleRate" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['saleRate']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="tax" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['tax']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="hsn" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['hsn']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="mrp" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['mrp']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="mfgName" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['mfgName']">
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- Table End -->

        <!-- Common Grid Start -->

        <!-- Common Grid End -->


        <div class="row">
            <div class="col-sm-12">
                <form class='form'>
                    <div class="col-md-3 ">
                        <p>Gross Value: *</p>
                        <input id="grsValue" class="form-control" [formControl]="purchaseForm.controls['grsValue']">
                    </div>
                    <div class="col-md-3 ">
                        <p>Discount Value: *</p>
                        <input id="discountValue" class="form-control" [formControl]="purchaseForm.controls['discountValue']">
                    </div>
                    <div class="col-md-3 ">
                        <p>Tax Value: *</p>
                        <input id="taxValue" class="form-control" [formControl]="purchaseForm.controls['taxValue']">
                    </div>
                    <div class="col-md-3 ">
                        <p>Net Value: *</p>
                        <input id="netValue" class="form-control" [formControl]="purchaseForm.controls['netValue']">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-12 ">
<!-- As Per Software Table Start -->
        <div class="row pane">
            <div class="col-sm-6 col-lt">
                <div class="table-responsive">
                    <table id="purchaseDetailTable1" class="table table-header table-lg table-bordered">
                        <thead>
                            <tr>
                                <th>GST%</th>
                                <th>Taxable</th>
                                <th>CGST Amount</th>
                                <th>SGST Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <input id="gstPercent" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['gstPercent']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="taxable" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['taxable']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="cgstAmt" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['cgstAmt']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="sgstAmt" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['sgstAmt']">
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        
        <!-- As Per Software Table End -->

        <!-- As Per Invoice Table Start -->
        <div class="row pane">
            <div class="col-sm-6 col-rt">
                <div class="table-responsive">
                    <table id="purchaseDetailTable1" class="table table-header table-lg table-bordered">
                        <thead>
                            <tr>
                                <th>GST%</th>
                                <th>Taxable</th>
                                <th>CGST Amount</th>
                                <th>SGST Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <input id="inGstPercent" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['inGstPercent']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="inTaxable" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['inTaxable']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="inCgstAmt" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['inCgstAmt']">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="inSgstAmt" #focus [readonly]="nameFlag" class="form-control"
                                            [formControl]="purchaseForm.controls['inSgstAmt']">
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- As Per Invoice Table End -->
        </div>

        <div class="col-sm-6 col-lt">
                <form class="form">
                    <div class="col-md-12 col-lt">
                        <p>Debit Adjustment Ledger: *</p>
                        <input id="debitAdjustmentLedger" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['debitAdjustmentLedger']">
                    </div>
                    <div class="col-md-12 col-lt">
                        <p>Credit Adjustment Ledger: *</p>
                        <input id="CreditAdjustmentLedger" class="form-control" [formControl]="purchaseForm.controls['CreditAdjustmentLedger']">
                    </div>
                    <div class="col-md-6 col-lt">
                        <p>Net Value: *</p>
                        <input id="netValue" class="form-control" [formControl]="purchaseForm.controls['netValue']">
                    </div>
                    <div class="col-md-6 col-lt">
                        <p>Remarks: *</p>
                        <input id="remarks" class="form-control" [formControl]="purchaseForm.controls['remarks']">
                    </div>
                </form>
            </div>

            <div class="col-sm-6 col-rt">
                    <form class="form">
                        <div class="col-md-12 col-lt">
                            <p>Debit Adjustment Value: *</p>
                            <input id="DebitAdjustmentValue" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseForm.controls['DebitAdjustmentValue']">
                        </div>
                        <div class="col-md-12 col-lt">
                            <p>Credit Adjustment Value: *</p>
                            <input id="creditAdjustmentValue" class="form-control" [formControl]="purchaseForm.controls['creditAdjustmentValue']">
                        </div>
                        <div class="col-md-12 col-lt">
                            <p>Invoice Value: *</p>
                            <input id="invoiceValue" class="form-control" [formControl]="purchaseForm.controls['invoiceValue']">
                        </div>
                        
                    </form>
                </div>

        <div class="input-group">
            <button type="button" (click)="resetForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
            <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
            <button type="button" [disabled]="deleteFlag" (click)="showConfirmationModal('Delete')" class="btn btn-danger float-right">{{'button.delete'
                | translate }}</button>
        </div>


    </div>

</div>