<div class="col-xs-12 mr-b-2">
    <div class="row">
        <div class="col-xs-5">
            <h3>{{'product.title' | translate}}</h3>
            <form [formGroup]="productForm"  autocomplete="off">
                <app-errormessages [formRequiredError]="formRequiredError"
                        [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
                          [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
                        [duplicateMessage]="duplicateMessage"
                        [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

                <div class="col-xs-6 col-3-lt">
                    <p>{{'product.name' | translate}}: *</p>
                    <input #focus id="name" maxlength="30"  [readonly]="nameFlag" class="form-control capitalize"
                     [formControl]="productForm.controls['name']" (blur)="checkForDuplicateProductName()">
                </div>

                <div class="col-xs-6 col-rt">
                    <p>{{'companies.name' | translate}}: * &emsp; (<a style="cursor: pointer" (click)="openModal(cmpTemplate)">create</a>)</p>
                    <input id="companyName"  formControlName="companyName" [typeahead]="typeaheadCompanyDataList"
                    typeaheadOptionField="typeheadDisplay" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="loadSelectedCompanyTypeahead($event)" class="form-control capitalize">
                    <span class="caret"></span>
                </div>

                <div class="margin-top-0px">
                    <div class="col-xs-6 col-3-lt">
                    <p>{{'productgroup.name' | translate}}: * &emsp; (<a style="cursor: pointer" (click)="openModal(template)">create </a>)</p>
                      <input id="productGroupName" formControlName="productGroupName" [typeahead]="typeaheadGroupDataList"
                      typeaheadOptionField="productGroupName" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
                      (typeaheadOnSelect)="loadSelectedGroupTypeahead($event)" class="form-control capitalize">
                      <span class="caret"></span>
                    </div>
                    <div class="col-xs-3 col-rt">
                      <p>{{'product.packing' | translate}}: *</p>
                      <input id="packing" maxlength="4" class="form-control" [formControl]="productForm.controls['packing']">
                    </div>
                    <div class="col-xs-3 col-rt">
                      <p>{{'product.boxqty' | translate}}: *</p>
                      <input id="boxQty" type="number" min="0" maxlength="02" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       class="form-control" [formControl]="productForm.controls['boxQty']">
                    </div>
                </div>

                <div class="margin-top-0px">
                  <div class="col-xs-6 col-3-lt">
                      <p>{{'productcategory.name' | translate}}: * &emsp; (<a style="cursor: pointer" (click)="openModal(pcTemplate)">create
                      </a>)</p>
                      <input id="productCategoryName" formControlName="productCategoryName" [typeahead]="typeaheadCategoryDataList"
                      typeaheadOptionField="productCategoryName" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"
                      (typeaheadOnSelect)="loadSelectedCategoryTypeahead($event)" class="form-control capitalize">
                      <span class="caret"></span>
                    </div>
                  <div class="col-xs-3 col-rt">
                      <p>{{'product.caseqty' | translate}}: *</p>
                      <input id="caseQty" type="number" min="0" maxlength="02" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      class="form-control" [formControl]="productForm.controls['caseQty']">
                  </div>
                  <div class="col-xs-3 col-rt">
                      <p>{{'product.schemeqty' | translate}}: *</p>
                        <input id="schemeQty"  class="form-control"
type="number" min="0" maxlength="02" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                         [formControl]="productForm.controls['schemeQty']">
                  </div>

                </div>

                <div class="margin-top-0px">
                  <div class="col-xs-6 col-3-lt">
                    <p>{{'product.content' | translate}}: *</p>
                    <input id="contents" maxlength="80"  class="form-control" [formControl]="productForm.controls['contents']">
                  </div>
                  <div class="col-xs-3 col-rt">
                    <p>{{'product.netrate' | translate}}: *</p>
                    <input id="netRate" class="form-control" [formControl]="productForm.controls['netRate']"
                    type="number" min="0" maxlength="02" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                  </div>
                  <div class="col-xs-3 col-rt">
                    <p>{{'product.isNetRateItem' | translate}}: *</p>
                    <input id="isNetRateItem" maxlength="20"  class="form-control" [formControl]="productForm.controls['isNetRateItem']">
                  </div>
                </div>

                <div class="margin-top-0px">
                 <div class="col-xs-6 col-3-lt">
                    <p>{{'product.tax' | translate}}: *</p>
                    <input id="tax" formControlName="tax" [typeahead]="typeaheadTaxDataList" typeaheadOptionField="tax"
                    [typeaheadOptionsLimit]="7"
                     [typeaheadMinLength]="0" (typeaheadOnSelect)="loadSelectedTaxTypeahead($event)"
                    class="form-control">
                    <span class="caret"></span>
                  </div>
                  <div class="col-xs-3 col-rt">
                    <p>{{'product.free' | translate}}: *</p>
                    <input id="free"  type="number" min="0" maxlength="02" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="form-control" [formControl]="productForm.controls['free']">
                  </div>
                  <div class="col-xs-3 col-rt">
                    <p>{{'product.prodcode' | translate}}: *</p>
                    <input id="productcode" [readonly]="nameFlag" type="text" min="0" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    class="form-control" [formControl]="productForm.controls['productcode']" (blur)="checkForDuplicateProductCode()">
                  </div>
                </div>


                <app-buttons [title]="'product.title'" [deleteConfirmMsg]="'product.deleteConfirmationMessage'"
                [saveConfirmMsg]="'product.saveConfirmationMessage'" [saveInfoMsg]="'product.saveInformationMessage'"
                [endPoint]="endPoint"
                [deleteInfoMsg]="'product.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                [isBtnDeleteDisable]="false" [hideSaveBtn]=true [hideResetBtn]=true
                [hideDeleteBtn]=true [formObj]="productForm" (saveRecord)="save()"
                (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                (afterSuccess)="successMsg()" (resetForm)="resetForm()" ></app-buttons>

            </form>
        </div>

        <div class="col-xs-7">
            <br /><br />
            <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
                (valueChange)='valueChange($event)' [screenColums]="'ProductColumns'"></app-synectiks-common-grid>
        </div>

    </div>

</div>
<!-- Product Group Modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'productgroup.create' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="productGroupForm" (ngSubmit)="saveChildForm('PG', productGroupForm)" autocomplete="off">
            <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess"[formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
              [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="childDuplicateMessage" [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

            <div class="input-group">
                <p>{{'productgroup.name' | translate}}: *</p>
                <input autofocus id="productGroupName"  (blur)="checkForDuplicateProdGroup()" class="form-control capitalize"
                    [formControl]="productGroupForm.controls['productGroupName']">
            </div>

            <div class="input-group">
                <button type="button" (click)="resetChildForm()" class="btn btn-primary">{{'button.reset' | translate}}</button>
                <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
            </div>
        </form>
    </div>
</ng-template>
<!-- Product Category Modal -->
<ng-template #pcTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'productcategory.create' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="productCategoryForm" (ngSubmit)="saveChildForm('PC', productCategoryForm)" autocomplete="off">
            <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
              [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
                [duplicateMessage]="childDuplicateMessage" [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

            <div class="input-group">
                <p>{{'productcategory.name' | translate}}: *</p>
                <input  id="productCategoryName"  (blur)="checkForDuplicateProdCategory()" class="form-control capitalize"
                    [formControl]="productCategoryForm.controls['productCategoryName']">
            </div>

            <div class="input-group">
                <button type="button" (click)="resetChildForm()" class="btn btn-primary">{{'button.reset' | translate}}</button>
                <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Company Modal -->
<ng-template #cmpTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Create Company </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="companyForm" (ngSubmit)="saveChildForm('Company', companyForm)" autocomplete="off">
            <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
              [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="childDuplicateMessage" [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

                <div class="input-group">
                	<p>{{'companies.name' | translate}}: *</p>
                	<input id="companyName" maxlength="40"   (blur)="checkForDuplicateCompanyName()"  class="form-control capitalize" [formControl]="companyForm.controls['companyName']">
                </div>

                <div class="input-group">
                	<p>{{'companies.code' | translate}}: *</p>
                	<input id="companyCode"  maxlength="40"  (blur)="checkForDuplicateCompanyCode()"
                   class="form-control" [formControl]="companyForm.controls['companyCode']">
                </div>

                <div class="input-group">
                  <p>{{'companygroup.name' | translate }}: * &emsp;</p>
                  <input id="companyGroupName" maxlength="20" formControlName="companyGroupName" [typeahead]="typeaheadCompanyGroupDataList" typeaheadOptionField="companyGroupName"
                  [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="loadSelectedCompanyGroupTypeahead($event)" class="form-control capitalize"/>
                  <span class="caret"></span>
                </div>

                <div class="input-group">
                	<p>{{'companies.type' | translate}}: *</p>
                	<input id="companyType" maxlength="10" class="form-control" [formControl]="companyForm.controls['companyType']"
                	[typeahead]="companyTypeList" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" >
                	<span class="caret"></span>
                </div>

                <div class="input-group">
                	<p>{{'companies.status' | translate}}: *</p>
                	<input id="companyStatus" maxlength="10" class="form-control" [formControl]="companyForm.controls['companyStatus']"
                	[typeahead]="companyStatusList" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                	<span class="caret"></span>
                </div>

                <div class="input-group">
                	<p>{{'companies.invGenType' | translate}}: *</p>
                	<input id="invGenType" maxlength="8" class="form-control" [formControl]="companyForm.controls['invGenType']"
                	[typeahead]="invGenList" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                	<span class="caret"></span>
                </div>

                <div class="input-group">
                	<p>{{'companies.invPrefix' | translate}}: *</p>
                	<input id="invPrefix" maxlength="10" class="form-control" [formControl]="companyForm.controls['invPrefix']">
                </div>

                <div class="input-group">
                    <button type="button" (click)="resetChildForm()" class="btn btn-primary">{{'button.reset' | translate}}</button>
                    <button type="submit" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
                </div>
        </form>
    </div>
</ng-template>
