<div class="col-md-12">
  <div class="row">
    <div class="col-md-5">
      <h3>{{'schedule.title' | translate }}</h3>
      <form [formGroup]="scheduleForm" autocomplete="off">
        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
        [formServerError]="formServerError" [duplicateMessage]="duplicateMessage"
         [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

        <div class="input-group">
          <p>{{'schedule.name' | translate }}: *</p>
          <input id="scheduleName" #focus [readonly]="nameFlag" (blur)="checkForDuplicateScheduleName()"class="form-control" [formControl]="scheduleForm.controls['scheduleName']">
        </div>
        <div class="input-group">
            <p>{{'schedule.index' | translate }}: *</p>
            <input id="scheduleIndex" class="form-control" (blur)="validateFormOnBlur()" [formControl]="scheduleForm.controls['scheduleIndex']">
        </div>
        <div class="input-group">
              <p>{{'schedule.type' | translate }}: *</p>
             <input id="scheduleType" formControlName="scheduleType" [typeahead]="scheduleTypes" typeaheadOptionField="description"
            [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0"   class="form-control">
              <span class="caret"></span>
        </div>

        <app-buttons [title]="formTitle" [deleteConfirmMsg]="deleteConfirmMsg"
                     [saveConfirmMsg]="saveConfirmMsg" [saveInfoMsg]="saveInfoMsg" [endPoint]="endPoint"
                     [deleteInfoMsg]="deleteInfoMsg" [duplicateMessage]="duplicateMessage"
                     [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true
                     [hideDeleteBtn]=true [formObj]="scheduleForm" (saveRecord)="save()"
                     (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                     (afterSuccess)="successMsg()" (resetForm)="resetForm()" (serverErrMsg)="serverErrMsg()" ></app-buttons>
      </form>
    </div>

    <div class="col-md-7">
      <br /><br />
      <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="scheduleList"
      (valueChange)='valueChange($event)' [gridColumnList]="scheduleListColumns"></app-synectiks-common-grid>
    </div>

  </div>

</div>
