<div class="row">
  <div class="error-text col-xs-12" *ngIf="formSuccess">
    <p class="text-success" [translate]="'message.save'" ></p>
  </div>
  <div class="error-text col-xs-12" *ngIf="formRequiredError">
    <p class="text-danger" [translate]="'message.mandatory'" ></p>
  </div>
  <div class="error-text col-xs-12" *ngIf="duplicateMessage != null">
    <p class="text-danger" [textContent]="duplicateMessage" [translate]="duplicateMessage"
    [translateParams]="{duplicateMessageParam: duplicateMessageParam}"></p>
  </div>
  <div class="error-text col-xs-12" *ngIf="formServerError">
    <p class="text-danger" [translate]="'message.error'"></p>
  </div>
</div>
