<!-- Acc Info Start -->

<div class="col-md-5">
  <h3>Account Information</h3>
  <!-- <form [formGroup]="areaForm" (ngSubmit)="saveForm()" autocomplete="off">
  <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="formServerError"
    [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>
</form> -->
</div>

<div class="col-md-12 mr-b-2">
  <div class="row">

    <!-- Panel Start -->
    <div class="container-fluid">

      <div id="tab" class='col-xs-12 col-sm-12'>
        <tabset type="pills">
          <tab heading="General Information">
            <!-- General Info Start -->
            <form class="form">
              <div class="col-md-4 col-lt">
                <p>Account Name: *</p>
                <input id="accountName" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['accountName']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Sub-Schedule: *</p>
                <input id="subScheduleId" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['subScheduleId']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Schedule: *</p>
                <input id="scheduleId" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['scheduleId']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Address 1: *</p>
                <input id="address1" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['address1']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Address 2: *</p>
                <input id="address2" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['address2']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Town: *</p>
                <input id="town" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['town']">
              </div>
              <div class="col-md-4 col-lt">
                <p>PIN: *</p>
                <input id="pin" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['pin']">
              </div>

              <div class="col-md-4 col-lt">
                <p>District: *</p>
                <input id="districtId" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['districtId']">
              </div>

              <div class="col-md-4 col-lt">
                <p>State: *</p>
                <input id="stateId" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['stateId']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Area Name: *</p>
                <input id="areaId" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['areaId']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Phone: *</p>
                <input id="phone" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['phone']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Mobile: *</p>
                <input id="mobile" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['mobile']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Email: *</p>
                <input id="email" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['email']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Short Name: *</p>
                <input id="shortName" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['shortName']">
              </div>
            </form>
            <!-- General Info Ends -->
          </tab>
          <tab heading="Registration Information">

            <!-- Regs Info Starts -->

            <form class="form">

              <div class="col-md-4 col-lt">
                <p>Lic.No1: *</p>
                <input id="licNo1" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['licNo1']">
              </div>

              <div class="col-md-4 col-lt">
                <p>Lic.No2: *</p>
                <input id="licNo2" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['licNo2']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Lic.Expiry: *</p>
                <input id="licExpiry" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['licExpiry']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Ret.LicNo1: *</p>
                <input id="retLicNo1" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['retLicNo1']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Ret.LicNo2: *</p>
                <input id="retLicNo2" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['retLicNo2']">
              </div>

              <div class="col-md-4 col-lt">
                <p>Ret.Expiry: *</p>
                <input id="retExpiry" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['retExpiry']">
              </div>

              <div class="col-md-4 col-lt">
                <p>Food Lic.No: *</p>
                <input id="foodLicNo" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['foodLicNo']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Other License: *</p>
                <input id="otherLicense" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['otherLicense']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Other License Expiry: *</p>
                <input id="otherLicenseExpiry" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['otherLicenseExpiry']">
              </div>
              <div class="col-md-4 col-lt">
                <p>GST Type: *</p>
                <input id="gstType" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['gstType']">
              </div>

              <div class="col-md-4 col-lt">
                <p>GSTIN: *</p>
                <input id="gstIN" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['gstIN']">
              </div>

              <div class="col-md-4 col-lt">
                <p>Nature of GST: *</p>
                <input id="natureOfGST" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['natureOfGST']">
              </div>
              <div class="col-md-4 col-lt">
                <p>UIN No: *</p>
                <input id="uin" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['uin']">
              </div>

            </form>

            <!-- Regs Info Ends -->

          </tab>
          <tab heading="Credentials">

            <!-- Credentials Starts -->

            <form class="form">

              <div class="col-md-4 col-lt">
                <p>Sale Type: *</p>
                <input id="saleType" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['saleType']">
              </div>

              <div class="col-md-4 col-lt">
                <p>Customer Type: *</p>
                <input id="customerType" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['customerType']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Credit Limit: *</p>
                <input id="creditLimit" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['creditLimit']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Due Days: *</p>
                <input id="dueDays" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['dueDays']">
              </div>

            </form>

            <!-- Credentials Ends -->

          </tab>
          <tab heading="Others">

            <!-- Others Starts -->

            <form class="form">

              <div class="col-md-4 col-lt">
                <p>Contact Person: *</p>
                <input id="contactPerson" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['contactPerson']">
              </div>

              <div class="col-md-4 col-lt">
                <p>HSN Code: *</p>
                <input id="hsnCode" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['hsnCode']">
              </div>
              <div class="col-md-4 col-lt">
                <p>SAC Code: *</p>
                <input id="sacCode" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['sacCode']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Rate of Tax: *</p>
                <input id="rateOfTax" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['rateOfTax']">
              </div>

              <div class="col-md-4 col-lt">
                <p>Opening Balance: *</p>
                <input id="openingBalance" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['openingBalance']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Opening Type: *</p>
                <input id="openingType" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['openingType']">
              </div>
              <div class="col-md-4 col-lt">
                <p>Special Remarks: *</p>
                <input id="specialRemarks" #focus [readonly]="nameFlag" class="form-control" [formControl]="accInfoForm.controls['specialRemarks']">
              </div>


            </form>

            <!-- Others Ends -->

          </tab>
        </tabset>

        <div class="tab-content clearfix">





        </div>
      </div>

      <!-- Panel End -->


    </div>
  </div>
</div>
<!-- Acc Info Ends -->