<div class="col-xs-12">
	<h3>{{'purchaseOrder.title' | translate}}</h3>
	<form [formGroup]="purchaseOrderForm" autocomplete="off" class="mr-l-1">
		<app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()"
		 [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
		 [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

		<div class="col-xs-3 mr-t-1">
			<p>{{'common.orderNumber' | translate}}: *</p>
			<input id="orderNumber" maxlength="40" #focus [readonly]="nameFlag" (blur)="checkForDuplicateOrderNo()" class="form-control" [formControl]="purchaseOrderForm.controls['orderNumber']">
		</div>
		<div class="col-xs-3 mr-t-1">
			<p>{{'common.date' | translate}}: *</p>
			<input id="date" type="date" class="form-control" [formControl]="purchaseOrderForm.controls['date']">
		</div>
		<div class="col-xs-3 mr-t-1">
			<p>{{'common.supplier' | translate}}: *</p>
			<input id="supplier" maxlength="20" class="form-control" formControlName="supplier"
			typeaheadOptionField="accountName" 	(typeaheadOnSelect)="onSelectSupplier($event)"
				 [typeahead]="suppliersList"  [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
			<span class="caret"></span>
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'common.remarks' | translate}}: *</p>
			<input id="remarks" maxlength="40" class="form-control" [formControl]="purchaseOrderForm.controls['remarks']">
			<span class="caret hide-caret"></span>
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'common.productName' | translate}}: *</p>
			<input id="productName" class="form-control" formControlName="productName"
				typeaheadOptionField="name" [typeahead]="productsList"
				(typeaheadOnSelect)="onSelectProduct($event)"
				[typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
			<span class="caret"></span>
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'common.pack' | translate}}: *</p>
			<input id="pack" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['pack']">
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'common.qty' | translate}}: *</p>
			<input id="qty" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['qty']">
			<span class="caret hide-caret"></span>
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'common.free' | translate}}: *</p>
			<input id="free" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['free']">
			<span class="caret hide-caret"></span>
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'purchaseOrder.rate' | translate}}: *</p>
			<input id="rate" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['rate']">
		</div>
		<div class="col-xs-3 mr-t-1">
			<p>{{'purchaseOrder.bqty' | translate}}: *</p>
			<input id="bQty" [readonly]="true" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['bQty']">
		</div>
		<div class="col-xs-3 mr-t-1">
			<p>{{'purchaseOrder.brate' | translate}}: *</p>
			<input id="bRate" [readonly]="true" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['bRate']">
		</div>

		<div class="col-xs-3 mr-t-1">
			<p>{{'purchaseOrder.bfree' | translate}}: *</p>
			<input id="bFree" [readonly]="true" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['bFree']">
		</div>

		<div class="col-xs-12">
			<app-buttons [title]="'purchaseOrder.title'" [deleteConfirmMsg]="'purchaseOrder.deleteConfirmationMessage'"
			 [saveConfirmMsg]="'purchaseOrder.saveConfirmationMessage'" [saveInfoMsg]="'purchaseOrder.saveInformationMessage'"
			 [endPoint]="endPoint" [deleteInfoMsg]="'purchaseOrder.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
			 [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true [hideDeleteBtn]=true [formObj]="purchaseOrderForm"
			 (saveRecord)="save()" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()" (afterSuccess)="successMsg()"
			 (resetForm)="resetForm()"></app-buttons>
		</div>
	</form>
</div>
<div class="col-md-12 ">
	<br /><br />
	<app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
	 (valueChange)='valueChange($event)' [screenColums]="'PurchaseOrderColumns'"></app-synectiks-common-grid>
</div>
