<div class="col-xs-12">
	<h3>{{'purchaseOrder.title' | translate}}</h3>
	<form [formGroup]="purchaseOrderForm" autocomplete="off">
		<app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()"
		 [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
		 [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

		<div class="col-xs-3 col-3-lt">
			<p>{{'common.orderNumber' | translate}}: *</p>
			<input id="orderNumber" maxlength="20" #focus [readonly]="nameFlag" class="form-control" [formControl]="purchaseOrderForm.controls['orderNumber']">
		</div>
		<div class="col-xs-3 col-3-lt">
			<p>{{'common.date' | translate}}: *</p>
			<input id="date" type="date" class="form-control" [formControl]="purchaseOrderForm.controls['date']">
		</div>
		<div class="col-xs-3 col-3-lt" style="margin-left:2.1em;">
			<p>{{'common.supplier' | translate}}: *</p>
			<input id="supplier" maxlength="20" class="form-control" [formControl]="purchaseOrderForm.controls['supplier']" [typeahead]="districtsList"
			 typeaheadOptionField="typeheadDisplay" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
			<span class="caret"></span>
		</div>

		<div class="col-xs-3 col-rt">
			<p>{{'common.remarks' | translate}}: *</p>
			<input id="remarks" maxlength="20" class="form-control" [formControl]="purchaseOrderForm.controls['remarks']">
			<span class="caret hide-caret"></span>
		</div>

		<div class="col-xs-3 col-3-lt">
			<p>{{'common.productName' | translate}}: *</p>
			<input id="productName" maxlength="40" class="form-control" [formControl]="purchaseOrderForm.controls['productName']" [typeahead]="districtsList"
			 typeaheadOptionField="typeheadDisplay" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
			<span class="caret" ></span>
		</div>

		<div class="col-xs-3 col-3-lt">
			<p>{{'common.pack' | translate}}: *</p>
			<input id="pack" maxlength="20" class="form-control" [formControl]="purchaseOrderForm.controls['pack']">
		</div>

		<div class="col-xs-3 col-3-lt" style="margin-left:2.1em;">
			<p>{{'common.qty' | translate}}: *</p>
			<input id="qty" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['qty']">
			<span class="caret hide-caret"></span>
		</div>

		<div class="col-xs-3 col-rt">
			<p>{{'purchaseOrder.rate' | translate}}: *</p>
			<input id="rate" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['rate']">
			<span class="caret hide-caret"></span>
		</div>

		<div class="col-xs-3 col-3-lt">
			<p>{{'common.free' | translate}}: *</p>
			<input id="free" maxlength="10" class="form-control" [formControl]="purchaseOrderForm.controls['free']">
		</div>
		<div class="col-xs-3 col-3-lt">
			<p>{{'purchaseOrder.bqty' | translate}}: *</p>
			<input id="bQty" [readonly]="true" class="form-control" [formControl]="purchaseOrderForm.controls['bQty']">
		</div>
		<div class="col-xs-3 col-3-lt" style="margin-left:2.1em;">
			<p>{{'purchaseOrder.brate' | translate}}: *</p>
			<input id="bRate" [readonly]="true" class="form-control" [formControl]="purchaseOrderForm.controls['bRate']">
		</div>

		<div class="col-xs-3 col-rt">
			<p>{{'purchaseOrder.bfree' | translate}}: *</p>
			<input id="bFree" [readonly]="true" class="form-control" [formControl]="purchaseOrderForm.controls['bFree']">
		</div>

		<div class="col-xs-6" style="margin-left:-1em;width: 49%">
			<app-buttons [title]="'purchaseReturn.title'" [deleteConfirmMsg]="'purchaseReturn.deleteConfirmationMessage'"
			 [saveConfirmMsg]="'purchaseReturn.saveConfirmationMessage'" [saveInfoMsg]="'purchaseReturn.saveInformationMessage'"
			 [endPoint]="endPoint" [deleteInfoMsg]="'purchaseReturn.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
			 [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true [hideDeleteBtn]=true [formObj]="purchaseOrderForm"
			 (saveRecord)="save()" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()" (afterSuccess)="successMsg()"
			 (resetForm)="resetForm()"></app-buttons>
		</div>
	</form>
</div>
<div class="col-md-12  pd-btm-2" style="margin-top:-1em;" >
	<br /><br />
	<app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
	 (valueChange)='valueChange($event)' [screenColums]="'PurchaseOrderColumns'"></app-synectiks-common-grid>
</div>