<header></header>
<div class=" col-xs-12 card mr-t-6">
  <div class="row">
    <div class="col-xs-12 header">
      <div class="row">
        <form [formGroup]="updateUserForm" autocomplete="off">
          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]=false
            [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
            [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"
             [duplicateMessage]=null [duplicateMessageParam]=null>
          </app-errormessages>

          <div>
          	<h4>{{'updateuser.title' | translate }}</h4>
          	<p>{{'updateuser.userId' | translate }}
          		<input type="text" id="userId"  [formControl]="updateUserForm.controls['userId']" style="border:hidden; margin: 5px;">
          		<button [routerLink]="['../createUser']" [queryParams]="{editMode:true, userId:updateUserForm.controls['userId'].value}"
              class="btn btn-xs btn-success">{{'updateuser.submit' | translate }}</button>
          	</p>
          </div>

        </form>
      </div> <!-- card-body -->
    </div>
  </div>
</div>
