<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-md-12 card">
  <div class="row">
    <div class="col-md-12 header">
      <div class="row">
        <h4>{{'changepassword.title'| translate}}</h4>
      </div>
    </div> <!-- header -->
   
      <div class="col-md-12">
      
          <form [formGroup]="changePasswordForm"  (ngSubmit)="save()" >

          <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
            [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
            [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"  [duplicateMessage]="duplicateMessage"
            [duplicateMessageParam]="duplicateMessageParam">
          </app-errormessages>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input autofocus id="usernameOrEmail" class="form-control" [formControl]="changePasswordForm.controls['usernameOrEmail']"
                placeholder="{{'changepassword.usernameOrEmail'| translate}}">
            </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" maxlength="50" (blur)="validatePassword()" class="form-control" [formControl]="changePasswordForm.controls['password']"
                placeholder="{{'changepassword.changePassword'| translate}}">
            </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="confirmPassword" type="password" maxlength="50"  (blur)="validatePassword()" class="form-control" [formControl]="changePasswordForm.controls['confirmPassword']"
                placeholder="{{'changepassword.confirmPassword'| translate}}">
            </div>
          

            <div class="pd-btm-1">
            <app-buttons  [title]="'changepassword.title'" [deleteConfirmMsg]="'changepassword.deleteConfirmationMessage'"
                 [saveConfirmMsg]="'changepassword.saveConfirmationMessage'" [saveInfoMsg]="'changepassword.saveInformationMessage'" [endPoint]="endPoint"
                 [deleteInfoMsg]="'changepassword.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                 [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true
                 [hideDeleteBtn]=false [formObj]="changePasswordForm" (saveRecord)="save()"
                 (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                 (afterSuccess)="successMsg()" (resetForm)="resetForm()"></app-buttons>
            </div>

          </form>
      
      </div>
   
  </div>



</div>
