<header></header>
<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 card">
  <div class="row">
    <div class="col-xs-12 header">
      <div class="row">
        <h4>{{'changepassword.title'| translate}}</h4>
      </div>
    </div> <!-- header -->
    <div class="col-xs-12 card-body">
      <div class="col-xs-12">
        <div class="row">
          <form [formGroup]="changePasswordForm" (ngSubmit)="login()">

            <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
        [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
          [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()"  [duplicateMessage]="duplicateMessage"
                [duplicateMessageParam]="duplicateMessageParam">
        </app-errormessages>



            <div class="error-text col-xs-12" *ngIf="badCredentials">
              <p class="text-danger">Invalid Username or Password!!</p>
            </div>
            <div class="error-text col-xs-12" *ngIf="formError">
              <p class="text-danger">Username and Password is mandatory!</p>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input autofocus id="usernameOrEmail" class="form-control" [formControl]="changePasswordForm.controls['usernameOrEmail']"
                placeholder="{{'changepassword.usernameOrEmail'| translate}}">
            </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="changePassword" type="password" class="form-control" [formControl]="changePasswordForm.controls['password']"
                placeholder="{{'changepassword.changePassword'| translate}}">
            </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="confirmPassword" type="password" class="form-control" [formControl]="changePasswordForm.controls['password']"
                placeholder="{{'changepassword.confirmPassword'| translate}}">
            </div><br>

                <!--  <div style="padding-bottom: 1em;">
                    <button type="submit" class="btn btn-success">Reset</button>&nbsp;
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>-->

                  <app-buttons  [title]="'changepassword.title'" [deleteConfirmMsg]="'changepassword.deleteConfirmationMessage'"
                 [saveConfirmMsg]="'changepassword.saveConfirmationMessage'" [saveInfoMsg]="'changepassword.saveInformationMessage'" [endPoint]="endPoint"
                 [deleteInfoMsg]="'changepassword.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                 [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true
                 [hideDeleteBtn]=false [formObj]="changePasswordForm" (saveRecord)="save()"
                 (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                 (afterSuccess)="successMsg()" (resetForm)="resetForm()"></app-buttons>


          </form>
        </div>
      </div>
    </div> <!-- card-body -->
  </div>



</div>
