<div class="col-xs-5">
  <h3>{{'orderPurchReg.title' | translate}}</h3>
  <form [formGroup]="orederRegisterForm" autocomplete="off">
      <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
        [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="duplicateMessage" [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>

        <div class="input-group">
          <p>{{'orderPurchReg.company' | translate}}: *</p>
         <input id="companyName" maxlength="40"  class="form-control" [formControl]="orderRegisterForm.controls['companyName']" [typeahead]="typeaheadDataList" typeaheadOptionField="description"
        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" >
          <span class="caret"></span>
        </div>
             <div class="input-group">
          <p>{{'orderPurchReg.suppOption' | translate}}: *</p>
         <input id="supplierOption" maxlength="7"  class="form-control" formControlName="supplierOption" [typeahead]="typeaheadDataList" typeaheadOptionField="description"
        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" >
          <span class="caret"></span>
        </div>
             <div class="input-group">
          <p>{{'orderPurchReg.repOption' | translate}}: *</p>
         <input id="reportOption" maxlength="7"  class="form-control" formControlName="reportOption" [typeahead]="typeaheadDataList" typeaheadOptionField="description"
        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" >
          <span class="caret"></span>
        </div>
        <div class="input-group">
            <p>{{'common.fromDate' | translate}}: *</p>
            <input id="fromDate" type="date" class="form-control" [formControl]="orderRegisterForm.controls['fromDate']">
        </div>
        <div class="input-group">
            <p>{{'common.toDate' | translate}}: *</p>
            <input id="toDate" type="date" class="form-control" [formControl]="orderRegisterForm.controls['toDate']">
        </div>

        <app-buttons [title]="'internal-stock-adj.title'" [deleteConfirmMsg]="'internal-stock-adj.deleteConfirmationMessage'"
        [saveConfirmMsg]="'internal-stock-adj.saveConfirmationMessage'" [saveInfoMsg]="'internal-stock-adj.saveInformationMessage'"
        [endPoint]="endPoint"
        [deleteInfoMsg]="'internal-stock-adj.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
        [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true
        [hideDeleteBtn]=false [formObj]="orederRegisterForm" (saveRecord)="save()"
        (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
        (afterSuccess)="successMsg()" (resetForm)="resetForm()"></app-buttons>

  </form>
</div>

<div class="col-xs-7">
  <br /><br />
  <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
  [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'orderPurchaseRegisterColumns'"></app-synectiks-common-grid>
</div>
