<div class="col-xs-12">
    <h3>{{'purchase.title' | translate}}</h3>
    <form [formGroup]="purchaseForm" autocomplete="off" class="mr-l-1">
        <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()"
            [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()"
            [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="duplicateMessage"
            [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>
        <div class="mr-left-10">
            <div class="col-xs-12 panels">
                <div class="row mr-rt-12">
                    <div>
                        <div id="tab" class='col-xs-12 '>
                            <tabset type="pills">
                                <tab heading="Header">
                                    <div>
                                        <!--  -->
                                        <!-- <form class="form" class='col-xs-12'> -->
                                        <!-- <h4>{{'purchase.header' | translate}}</h4> -->
                                        <div class="container-fluid mr-l-2">
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.purchaseNumber' | translate}}: *</p>
                                                <input id="purchaseNumber" type="number" #focus [readonly]="true"
                                                    (blur)="checkForDuplicateOrderNo()" class="form-control"
                                                    [formControl]="purchaseForm.controls['purchaseNumber']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.date' | translate}}: *</p>
                                                <input id="date" type="date" class="form-control" [formControl]="purchaseForm.controls['date']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.invoiceNumber' | translate}}: *</p>
                                                <input id="invoiceNumber"  #focus [readonly]="nameFlag"
                                                    (blur)="checkForDuplicateOrderNo()" class="form-control"
                                                    [formControl]="purchaseForm.controls['invoiceNumber']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.invoiceDate' | translate}}: *</p>
                                                <input id="invoiceDate" type="date" class="form-control" [formControl]="purchaseForm.controls['invoiceDate']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'common.supplier' | translate}}: *</p>
                                                <input id="supplier" class="form-control" formControlName="supplier"
                                                    typeaheadOptionField="accountName" (typeaheadOnSelect)="onSelectSupplier($event)"
                                                    [typeahead]="suppliersList" [typeaheadOptionsLimit]="7"
                                                    [typeaheadMinLength]="0">
                                                <span class="caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'accountinfo.gstin' | translate}}: *</p>
                                                <input id="gstIN" class="form-control" [formControl]="purchaseForm.controls['gstIN']">
                                                <span class="caret hide-caret"></span>

                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'salesInvoice.mode' | translate}}: *</p>
                                                <input id="mode" maxlength="10" class="form-control" [formControl]="purchaseForm.controls['mode']"
                                                    [typeahead]="modeType" typeaheadOptionField="description"
                                                    [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                                                <span class="caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.wayBill' | translate}}: *</p>
                                                <input id="wayBill" class="form-control" [formControl]="purchaseForm.controls['wayBill']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.lrNumber' | translate}}: *</p>
                                                <input id="lrNumber" class="form-control" [formControl]="purchaseForm.controls['lrNumber']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.lrDate' | translate}}: *</p>
                                                <input id="lrDate" type="date" class="form-control" [formControl]="purchaseForm.controls['lrDate']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.transport' | translate}}: *</p>
                                                <input id="transport" class="form-control" [formControl]="purchaseForm.controls['transport']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.deliveredFrom' | translate}}: *</p>
                                                <input id="deliveredFrom" class="form-control" [formControl]="purchaseForm.controls['deliveredFrom']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.cs' | translate}}: *</p>
                                                <input id="numberOfCases" type="number" class="form-control"
                                                    [formControl]="purchaseForm.controls['numberOfCases']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                        </div>

                                    </div>
                                </tab>
                                <tab heading="Detailed">
                                    <div>

                                        <div class="container-fluid mr-l-2">
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'common.productName' | translate}}: *</p>
                                                <input id="productName" class="form-control" formControlName="productName"
                                                    typeaheadOptionField="name" [typeahead]="productsList"
                                                    (typeaheadOnSelect)="onSelectProduct($event)"
                                                    [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                                                <span class="caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'common.batch' | translate}}: *</p>
                                                <input id="gstIN" class="form-control" [formControl]="purchaseForm.controls['gstIN']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.expiry' | translate}}: *</p>
                                                <input id="expiry" type="date" class="form-control " [formControl]="purchaseForm.controls['expiry']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'common.qty' | translate}}: *</p>
                                                <input id="qty" type="number" class="form-control" [formControl]="purchaseForm.controls['qty']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'common.free' | translate}}: *</p>
                                                <input id="free" type="number" class="form-control" [formControl]="purchaseForm.controls['free']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'common.purRate' | translate}}: *</p>
                                                <input id="purRate" type="number" class="form-control" [formControl]="purchaseForm.controls['purRate']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.othrCharges' | translate}}: *</p>
                                                <input id="othrCharges" type="number" class="form-control"
                                                    [formControl]="purchaseForm.controls['othrCharges']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.grsValue' | translate}}: *</p>
                                                <input id="grsValue" type="number" class="form-control" [formControl]="purchaseForm.controls['grsValue']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'salesInvoice.disc' | translate}}: *</p>
                                                <input id="discount" type="number" class="form-control" [formControl]="purchaseForm.controls['discount']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.ptd' | translate}}: *</p>
                                                <input id="ptd" type='number' class="form-control" [formControl]="purchaseForm.controls['ptd']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.saleRate' | translate}}: *</p>
                                                <input id="saleRate" tyep="number" class="form-control" [formControl]="purchaseForm.controls['saleRate']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'product.tax' | translate}}: *</p>
                                                <input id="tax" type="number" class="form-control" [formControl]="purchaseForm.controls['tax']">
                                                <span class="caret hide-caret"></span>
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'accountinfo.hsncode' | translate}}: *</p>
                                                <input id="hsnCode" class="form-control" [formControl]="purchaseForm.controls['hsnCode']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.mrp' | translate}}: *</p>
                                                <input id="mrp" type="number" class="form-control" [formControl]="purchaseForm.controls['mrp']">
                                            </div>
                                            <div class="col-xs-2 mr-t-1">
                                                <p>{{'purchase.mfg' | translate}}: *</p>
                                                <input id="mfgName" class="form-control" formControlName="mfgName"
                                                        typeaheadOptionField="manfacturerName" [typeahead]="manfacturerList"
                                                        (typeaheadOnSelect)="onSelectManfacturer(event)"
                                                        [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                                                    <span class="caret"></span>
                                                </div>

                                        </div>
                                    </div>


                                </tab>
                                <tab heading="Footer">
                                    <!-- <h4>Footer Inputs</h4> -->
                                    <div class="container-fluid  mr-l-2">
                                        <div class="col-xs-3 mr-t-1">
                                            <p>{{'purchase.grossValue' | translate}}: *</p>
                                            <input id="grossValue" type="number" class="form-control" 
                                                [formControl]="purchaseForm.controls['grossValue']">
                                        </div>
                                        <div class="col-xs-3 mr-t-1">
                                            <p>{{'purchase.discountValue' | translate}}: *</p>
                                            <input id="discountValue" type="number" class="form-control" 
                                                [formControl]="purchaseForm.controls['discountValue']">
                                        </div>
                                        <div class="col-xs-3 mr-t-1">
                                            <p>{{'purchase.taxValue' | translate}}: *</p>
                                            <input id="taxValue" type="number" class="form-control" 
                                                [formControl]="purchaseForm.controls['taxValue']">
                                        </div>
                                        <div class="col-xs-3 mr-t-1">
                                            <p>{{'purchase.netValue1' | translate}}: *</p>
                                            <input id="netValue" type="number" class="form-control" 
                                                [formControl]="purchaseForm.controls['netValue']">
                                        </div>
                                    </div>
                                    <div class="row line"></div>

                                    <div class="col-xs-12 mr-l-1">
                                        <div class="col-xs-6 mr-l-1">
                                            <h4>{{'purchase.asPerSoftware' | translate}}</h4>

                                            <div class="col-xs-3 ">
                                                <p>{{'purchase.gst' | translate}}: *</p>
                                                <input id="gst" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['gst']">
                                            </div>
                                            <div class="col-xs-3 ">
                                                <p>{{'purchase.taxable' | translate}}: *</p>
                                                <input id="taxable" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['taxable']">
                                            </div>
                                            <div class="col-xs-3 ">
                                                <p>{{'purchase.cgstamount' | translate}}: *</p>
                                                <input id="cgstamount" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['cgstamount']">
                                            </div>
                                            <div class="col-xs-3 ">
                                                <p>{{'purchase.sgstamount' | translate}}: *</p>
                                                <input id="sgstamount" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['sgstamount']">
                                            </div>
                                            <!-- <div class="col-xs-2 mr-t-1">
                                                              
                                                                <button type="submit" class="btn btn-success"
                                                                 *ngIf="!isModelWindowView" (click)="openModal(asPerSoftwareGridTemplate)">View Grid Details</button>
                                                            </div> -->
                                        </div>
                                        <div class="col-xs-6 mr-left-1">
                                            <h4>{{'purchase.asPerInvoice' | translate}}</h4>
                                            <div class="col-xs-3">
                                                <p>{{'purchase.gst' | translate}}: *</p>
                                                <input id="gst" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['gst']">
                                            </div>
                                            <div class="col-xs-3 ">
                                                <p>{{'purchase.taxable' | translate}}: *</p>
                                                <input id="taxable" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['taxable']">
                                            </div>
                                            <div class="col-xs-3">
                                                <p>{{'purchase.cgstamount' | translate}}: *</p>
                                                <input id="cgstamount" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['cgstamount']">
                                            </div>
                                            <div class="col-xs-3">
                                                <p>{{'purchase.sgstamount' | translate}}: *</p>
                                                <input id="sgstamount" type="number" #focus [readonly]="nameFlag" class="form-control"
                                                    [formControl]="purchaseForm.controls['sgstamount']">
                                            </div>
                                            <!-- <div class="col-xs-2 mr-t-1"> 
                                                                <button type="submit" class="btn btn-success"
                                                                 *ngIf="!isModelWindowView" (click)="openModal(asPerInvoiceGridTemplate)">View Grid Details</button>
                                                            </div> -->
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                          <!-- <hr style="	border-top: 1px solid #000000;"> -->
                                    <div class="mr-l-1">
                                        <div class="col-xs-2 mr-t-1">
                                            <div class="row line"></div>
                                            <p>{{'purchase.debitAdjustmentLedger' | translate}}: *</p>
                                            <input id="debitAdjustmentLedger" class="form-control" formControlName="debitAdjustmentLedger"
                                                typeaheadOptionField="accountName" (typeaheadOnSelect)="onSelectDebitAdjustmentLedger($event)"
                                                [typeahead]="debitAdjList" [typeaheadOptionsLimit]="7"
                                                [typeaheadMinLength]="0">

                                        </div>
                                        <div class="col-xs-2 mr-t-1">
                                            <div class="row line"></div>
                                            <p>{{'purchase.debitAdjustmentValue' | translate}}: *</p>
                                            <input id="DebitAdjustmentValue" type="number" #focus [readonly]="nameFlag"
                                                class="form-control" [formControl]="purchaseForm.controls['DebitAdjustmentValue']">
                                        </div>
                                        <div class="col-xs-2 mr-t-1">
                                            <div class="row line"></div>
                                            <p>{{'purchase.creditAdjustmentLedger' | translate}}: *</p>
                                            <input id="creditAdjustmentLedger" class="form-control" formControlName="creditAdjustmentLedger"
                                                typeaheadOptionField="accountName" (typeaheadOnSelect)="onSelectCreditAdjustmentLedger($event)"
                                                [typeahead]="creditAdjList" [typeaheadOptionsLimit]="7"
                                                [typeaheadMinLength]="0">
                                        </div>
                                        <div class="col-xs-2 mr-t-1">
                                            <div class="row line"></div>
                                            <p>{{'purchase.creditAdjustmentValue' | translate}}: *</p>
                                            <input id="creditAdjustmentValue" type="number" class="form-control"
                                                [formControl]="purchaseForm.controls['creditAdjustmentValue']">
                                        </div>

                                        <div class="col-xs-2 mr-t-1">
                                            <div class="row line"></div>
                                            <p>{{'purchase.invoiceValue' | translate}}: *</p>
                                            <input id="invoiceValue" type="number" class="form-control" [formControl]="purchaseForm.controls['invoiceValue']">
                                        </div>
                                        <div class="col-xs-2 mr-t-1">
                                            <div class="row line"></div>
                                            <p>{{'purchase.netValue2' | translate}}: *</p>
                                            <input id="netValue" type="number" class="form-control" [formControl]="purchaseForm.controls['netValue']">
                                        </div>
                                        <div class="col-xs-2 mr-t-1">
                                            <p>{{'purchase.remarks' | translate}}: *</p>
                                            <input id="remarks" class="form-control" [formControl]="purchaseForm.controls['remarks']">
                                        </div>

                                    </div>

                                    <!-- </form> -->
                                    <!-- <div class="col-xs-12">
                                        <br /><br />
                                        <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
                                            [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoard'"></app-synectiks-common-grid>
                                    </div> 
                                    <div class="col-xs-12">
                                            <br /><br />
                                            <div class="col-xs-6 col-3-lt">
                                                <h3>{{'purchase.asPerSoftware' | translate}}</h3>
                                                <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
                                                    [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoardSft'"></app-synectiks-common-grid>
                                
                                            </div>
                                            <div class="col-xs-6 col-rt">
                                                <h3>{{'purchase.asPerInvoice' | translate}}</h3>
                                                <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
                                                    [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoardSft'"></app-synectiks-common-grid>
                                
                                            </div>
                                        </div>
                                         -->

                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr style="	border: 1px solid #000000;"> -->
        <div class="col-md-12 mr-t-1">
            <app-buttons [title]="'purchase.title'" [deleteConfirmMsg]="'purchase.deleteConfirmationMessage'"
                [saveConfirmMsg]="'purchase.saveConfirmationMessage'" [saveInfoMsg]="'purchase.saveInformationMessage'"
                [endPoint]="endPoint" [deleteInfoMsg]="'purchase.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
                [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true [hideDeleteBtn]=true [formObj]="purchaseForm"
                (saveRecord)="save()" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
                (afterSuccess)="successMsg()" (resetForm)="resetForm()"></app-buttons>
        </div>

    </form>
</div>

<div class="col-md-12">
    <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
        (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoard'"></app-synectiks-common-grid>
</div>


<ng-template #gridTemplate>
    <div style="margin-top:12em;">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Purchase Invoice Grid </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body col-xs-12" style="background-color: rgb(253, 252, 253);">

            <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
                (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoard'"></app-synectiks-common-grid>
        </div>
    </div>
</ng-template>

<ng-template #asPerSoftwareGridTemplate>
    <div style="margin-top:12em;">
        <div class="modal-header">
            <h4 class="modal-title pull-left">As Per Software Grid </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body col-xs-12" style="background-color: rgb(253, 252, 253);">

            <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
                (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoardSft'"></app-synectiks-common-grid>

        </div>
    </div>
</ng-template>

<ng-template #asPerInvoiceGridTemplate>
    <div style="margin-top:12em;">
        <div class="modal-header">
            <h4 class="modal-title pull-left">As Per Invoice Grid </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body col-xs-12" style="background-color: rgb(253, 252, 253);">

            <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)' [gridDataList]="gridDataList"
                (valueChange)='valueChange($event)' [screenColums]="'PurchaseDashBoardSft'"></app-synectiks-common-grid>
        </div>
    </div>
</ng-template>