<div class="col-xs-5">
  <h3>{{'manufacturer.title' | translate }}</h3>
  <form [formGroup]="manufacturerForm" autocomplete="off">
    <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess"
      [formServerError]="sharedDataService.getErrorMesage()" [errorMessage]="'serverError.errorMessage'"
      [errorStatusCode]="sharedDataService.getErrorCode()" [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="duplicateMessage"
      [duplicateMessageParam]="duplicateMessageParam">
   </app-errormessages>

    <div class="input-group">
      <p >{{'manufacturer.name' | translate }}: *</p>
      <input id="manfacturerName" maxlength="20" #focus [readonly]="nameFlag" (blur)="checkForDuplicateManufName()"  class="form-control capitalize" [formControl]="manufacturerForm.controls['manfacturerName']">
    </div>

    <app-buttons [title]="'manufacturer.title'" [deleteConfirmMsg]="'manufacturer.deleteConfirmationMessage'"
           [saveConfirmMsg]="'manufacturer.saveConfirmationMessage'" [endPoint]="endPoint"
           [saveInfoMsg]="'manufacturer.saveInformationMessage'"
           [deleteInfoMsg]="'manufacturer.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
           [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]="!nameFlag" [hideResetBtn]=true
           [hideDeleteBtn]=true [formObj]="manufacturerForm" (saveRecord)="save()"
           (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()"
           (afterSuccess)="successMsg()" (resetForm)="resetForm()" >
    </app-buttons>
  </form>
</div>

<div class="col-xs-7">
    <br /><br />
    <app-synectiks-common-grid [endPoint]="endPoint" (intialLoad)='onInitialDataLoad($event)'
     [gridDataList]="gridDataList" (valueChange)='valueChange($event)' [screenColums]="'ManfacturerColumns'"></app-synectiks-common-grid>
</div>
