/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/Body-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  overflow-y: auto;
}
p{
  margin:0 0 0;
}
.pointer {
  cursor: pointer;
}

.line {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

.input-group {
  width: 100%;
  margin-top: 15px;
}

.open > .dropdown-menu {
  margin-top: -2px;
}

.input-group {
  .caret {
    position: absolute;
    top: 36px;
    right: 10px;
    z-index: 10;
  }
}

.caret {
  float: right;
  position: relative;
  top: -17px;
  right: 10px;
  z-index: 10;
}
.hide-caret{
  visibility: hidden;
}
.mb-3{
  margin-bottom: 3em;
}
.searchbar{
  padding-bottom:8px;
  float:left;
  margin-left:-10px;
  margin-right: 10px;
}
.panels{
  padding-left:5px;
   margin-left: 0em;
}
.ag-theme-balham {
  background-color: rgba(216, 215, 223, 0.1);

  .ag-row {
    background-color: transparent;
  }

  .ag-header-cell {
    background-color: #e1f3f3;
    font-weight: bold;
    font-size: 13px;

    .ag-header-cell-menu-button {
      opacity: 1 !important;
    }
  }

  .ag-cell-focus {
    border: none !important;
    border-right: 1px solid #ccc !important;
  }

  .ag-row-selected {
    background-color: #cbd7f1 !important;
  }

  .ag-cell {
    border-right: 1px solid #BDC3C7;
    // text-align: center;
    img {
      width: 15px;
      margin-left: 40%;
    }
  }

  .ag-paging-panel {
    color: #333;

    .ag-paging-button {
      opacity: 1;
    }
  }
}

.mr-l-10 {
  margin-left: 10px;
}
//appcomponent
.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .grid-width{
    width: 500px;
  }
}

// businessexecutives
table {
  width: 100%;
  td {
    padding: 5px;
  }
  th {
    padding: 5px;
    background-color: #f0f9f7;
  }
}

.search-wrapper {
  padding-bottom: 10px;
}

.float-right {
  float: right;
}

.col-lt{
margin-left: -15px;
padding-top: 1em;
padding-bottom: 1em;
}

.col-3-lt{
margin-left: -15px;
padding-top: 1em;
padding-bottom: 0em;
}

.col-rt{
  padding-top: 1em;
  float: right;
  padding-right: 0px
}

.discount{
  display:none;
}

.btn-pad{
 padding: 1px !important ;
}

.capitalize{
  text-transform: uppercase;
}
.caret-md6{
  position: relative;
      display: inline-block;

}
.caret-md6::before{
  position: absolute;
  content: "\2bc6";
  top: 3em;
  right: 1em;
  height: 20px;
  width: 20px;
}
// .caret-md12{
//   position: relative;
//   display: inline-block;
//   z-index: 5 !important;
// }
// .caret-md12::before{
//   position: absolute;
//   content: "\2bc6";
//   top: 2em;
//   right: 0.8em;
//   height: -10px;
//   width: 10px;
// }
// .input-group{
//  z-index: -1 !important;
// }
// .form-control{
//   z-index: -1 !important;
// }
