/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/Body-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  overflow-y: auto;
}
p{
  margin:0 0 0;
}
.pointer {
  cursor: pointer;
}

.line {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

.input-group {
  width: 100%;
  margin-top: 15px;
  margin-bottom:10px;
}

.open > .dropdown-menu {
  margin-top: -2px;
}

.input-group {
  .caret {
    position: absolute;
    top: 36px;
    right: 10px;
    z-index: 10;
  }
}

.caret {
  float: right;
  position: relative;
  top: -17px;
  right: 10px;
  z-index: 10;
}
.hide-caret{
  visibility: hidden;
}
.mb-3{
  margin-bottom: 3em;
}
.searchbar{
  padding-bottom:8px;
  float:left;
  margin-left:-10px;
  margin-right: 10px;
}
.panels{
  padding-left:5px;
   margin-left: 0em;
}
.ag-theme-balham {
  background-color: rgba(216, 215, 223, 0.1);

  .ag-row {
    background-color: transparent;
  }

  .ag-header-cell {
    background-color: #e1f3f3;
    font-weight: bold;
    font-size: 13px;

    .ag-header-cell-menu-button {
      opacity: 1 !important;
    }
  }

  .ag-cell-focus {
    border: none !important;
    border-right: 1px solid #ccc !important;
  }

  .ag-row-selected {
    background-color: #cbd7f1 !important;
  }

  .ag-cell {
    border-right: 1px solid #BDC3C7;
    // text-align: center;
    img {
      width: 15px;
      margin-left: 40%;
    }
  }

  .ag-paging-panel {
    color: #333;

    .ag-paging-button {
      opacity: 1;
    }
  }
}

.mr-l-10 {
  margin-left: 10px;
}
//appcomponent
.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .grid-width{
    width: 500px;
  }
}

// businessexecutives
table {
  width: 100%;
  td {
    padding: 5px;
  }
  th {
    padding: 5px;
    background-color: #f0f9f7;
  }
}

.search-wrapper {
  text-align: center;
}

.float-right {
  float: right;
}

.row h4{
  width:100%;
  
}

.col-lt{
margin-left: -15px;
padding-top: 1em;
padding-bottom: 1em;
}

.col-3-lt{
margin-left: -15px;
padding-top: 1em;
padding-bottom: 0em;
}

.col-rt{
  padding-top: 1em;
  float: right;
  padding-right: 0px
}

.col-xs-5{
  padding-top:70px;
  padding-bottom:0px;
}

.col-xs-7{
  padding-top:70px;
  padding-bottom:0px;
}
.col-xs-12{
  padding-top:50px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom: 0px;
}

.col-xs-12.panels{
  padding-top:0px;
  padding-bottom:0px;
}
.col-md-12{
  padding-top:0px;
  margin-bottom: 5px;
  padding-bottom:10px;
  margin-top:0px;
}

.discount{
  display:none;
}

.btn-pad{
 padding: 1px !important ;
}

.capitalize{
  text-transform: uppercase;
}

.mr-l-20{
  margin-left: -20px;
}

// Admin
.btn-admin{
  padding-bottom: 1em;
  padding-left: 1em;
  margin-top: 10px;
}
.pd-btm-1{
  padding-bottom: 1em;
}
.pd-btm-2{
  padding-bottom: 2em;
}
.brdr-hide{
  border:hidden;
  margin: 5px;
}
.btn-col-xs-6{
  padding-bottom: 1em;
  padding-left: 2.2em;
  margin-top: 19px;
  margin-right: 0em;
}

.mr-l-1{
  margin-left: -1em;
}
.mr-l-2{
  margin-left: -2em;
}
.mr-left-1{
  margin-left: 1em;
}
.mr-t-1{
  margin-top: 1em;
}
.mr-t-0{
  margin-top: 0em !important;
}
.mr-t-caret{
  margin-top: -1.5em;
}
.mr-t-6{
  margin-top: 6em !important;
}
.ht-475{
  height: 475px;
}

.error-text.col-xs-12{
  padding-top:0px;
  padding-bottom:0px;
}
.col-xs-12.mr-l-1{
  padding-top:0px;
  padding-bottom:0px;
}
#tab{
  padding-top:5px;
  padding-bottom:0px;
}


// .caret-md12{
//   position: relative;
//   display: inline-block;
//   z-index: 5 !important;
// }
// .caret-md12::before{
//   position: absolute;
//   content: "\2bc6";
//   top: 2em;
//   right: 0.8em;
//   height: -10px;
//   width: 10px;
// }
// .input-group{
//  z-index: -1 !important;
// }
// .form-control{
//   z-index: -1 !important;
// }

//start vijay
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.dropdown-submenu-right {
    position:relative;
}
.dropdown-submenu-right>.dropdown-menu {
    top:0;
    /*left:-100%;*/
    left:-15rem; /* 10rem is the min-width of dropdown-menu */
    margin-top:-6px;
}

// h3{
//   margin-top:10px;
//   margin-bottom: 10px;
//   padding-top: 0px;
//   padding-bottom: 0px;
// }

.col-xs-5 h3{
  margin-top:10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.outset{
  border-style: outset;
}

FIELDSET {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
LEGEND{
  border-bottom: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  padding-left: 4px;
  padding-right: 4px;
  width:22%;
}

.col-xs-12 h3{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ag-theme-balham{
  margin-top:5px;
  margin-bottom: 0px;
  padding-top:0px;
  padding-bottom:0px
}

.container-fluid{
  padding-bottom:0px;
  padding-top:0px;
}

.col-md-12.mr-t-1{
  margin-top:0px;
  margin-bottom:0px;
  padding-top: 0px;
  padding-bottom: 0px;
}



.col-md-12.header.row.h4{
  width:100%; 
  }

.col-xs-3.mr-t-1.col-xs-6{
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left:0px;
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mr-r-10 p{
  float: right;
}
 .col-xs-1.mr-r-10{
   float: right;
   width: 100%;

 }

.col-xs-11.mr-r-10 {
  width: 91%;
}

.col-md-12.mr-r-10{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.col-md-12.mr-rt-1{
  margin-right:0px;
  margin-left:5px;
  width: 98.5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.col-md-12.mr-rt-2{
  margin-right:0px;
  margin-left:15px;
  width: 97%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.col-md-12.mr-rt-3{
  margin-right:0px;
  margin-left:15px;
  width: 97%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.col-md-12.mr-rt-4{
  margin-right:0px;
  margin-left:15px;
  width: 97%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.col-md-12.mr-rt-5{
  margin-left: -0.3em;
  margin-right:0px;
  width: 96%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.col-xs-12.mrow{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.col-xs-6.mr-l-1 h4{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.col-xs-6.mr-left-1 h4{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.container-fluid.mr{
 
  width: 104.5%;
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -2em;
}
