.card{
    position: absolute;
    margin-top: 25em;
    margin-bottom: 2em;
    transform: translateY(-50%);
    -webkit-box-shadow: 0px 10px 26px 6px rgba(176,169,176,1);
    -moz-box-shadow: 0px 10px 26px 6px rgba(176,169,176,1);
    box-shadow: 0px 10px 26px 6px rgba(176,169,176,1);
}
.card .header{
    background: #d8edf6;
    padding: 10px 15px 0px;
    color: #0000ff;
    text-align: center;
}
.card-body{
    background: #ffffff;
}
.card-body .input-group{
    margin-top: 1em;
    
}
.card-footer p span{
    color: #0000ff;
}