<div class="col-md-12 card" >
  <div class="row">
    <div class="col-md-12 header">
      <div class="row">
        <h4>{{'userprofile.title' | translate }}</h4>
      </div>

      <div class="col-md-12">
        <p class="col-sm-4">{{'userprofile.clientid' | translate }}:
          <!-- <input type="text" class="brdr-hide" [readonly]="true"> -->
        </p>
        <p class="col-sm-4">{{'userprofile.name' | translate }}:
          <!-- <input type="text" class="brdr-hide" [readonly]="true"> -->
          <input id="name" maxlength="20"   [formControl]="userProfileForm.controls['name']" (blur)="checkForDuplicateName()">
        </p>
        <p class="col-sm-4">{{'userprofile.town' | translate }}:
          <!-- <input type="text" class="brdr-hide" [readonly]="true"> -->
          <input id="town" maxlength="20"  [formControl]="userProfileForm.controls['town']" (blur)="checkForDuplicateName()">
        </p>
      </div>
    </div> <!-- header -->

    
    <form [formGroup]="userProfileForm" autocomplete="off">
      <div class="col-md-12 card-body">
        <div class="col-md-12">
          <div class="row">
            <app-errormessages [formRequiredError]="formRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()"
              [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()"
              [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="duplicateMessage"
              [duplicateMessageParam]="duplicateMessageParam"></app-errormessages>
          </div>

            
              <div id="tab" class='col-md-12 mr-t-1'>
                <tabset type="pills">

                  <tab heading="Profile Info">


                  

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.username' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="username" maxlength="25" class="form-control" (blur)="checkForDuplicateUserName()" [formControl]="userProfileForm.controls['username']" (blur)="checkForDuplicateUserName()">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.address1' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="address1" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['address1']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.address2' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="address2" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['address2']">
                      </div>
                    </div>

                  

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.pin' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="pin" type="number" maxlength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="form-control" [formControl]="userProfileForm.controls['pin']">
                      </div>
                    </div>

                   <div class="col-md-4 col-3-lt">
                      <p>{{'districts.name' | translate }}: *
                         <!-- &emsp; (<a style="cursor: pointer" (click)="openModal(districtTemplate, 'Districts')">create new</a>)</p> -->
                      <div class="input-group mr-t-0">
                        <input id="districtName" maxlength="20" class="form-control capitalize" [formControl]="userProfileForm.controls['districtName']"
                          [typeahead]="districtsList" typeaheadOptionField="typeheadDisplay" [typeaheadOptionsLimit]="7"
                          [typeaheadMinLength]="0" (typeaheadOnSelect)="onSelectDistrict($event)">
                        <span class="caret  mr-t-caret"></span>
                      </div>
                  </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.state' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="state" [readonly]=true maxlength="25" class="form-control" [formControl]="userProfileForm.controls['state']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.statecode' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="stateCode" [readonly]=true type="number" maxlength="6"
                          class="form-control" [formControl]="userProfileForm.controls['stateCode']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.phone' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="phone" type="number" maxlength="15" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        class="form-control" [formControl]="userProfileForm.controls['phone']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.mobile1' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="mobile1" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="form-control" [formControl]="userProfileForm.controls['mobile1']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.mobile2' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="mobile2" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="form-control" [formControl]="userProfileForm.controls['mobile2']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.contactperson' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="contactPerson" maxlength="50" class="form-control" [formControl]="userProfileForm.controls['contactPerson']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.contactpersonmobile' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="contactPersonMobile" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="form-control" [formControl]="userProfileForm.controls['contactPersonMobile']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.natureofbusiness' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="natureOfBusiness" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['natureOfBusiness']"
                        [typeahead]="natureOfBusiness" typeaheadOptionField="description" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0">
                      <span class="caret mr-t-caret"></span>
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.bankname1' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="bankName1" maxlength="30" class="form-control" [formControl]="userProfileForm.controls['bankName1']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.bankacno1' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="bankAcNo1" type="number" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['bankAcNo1']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.bankifscno1' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="bankIfscNo1" maxlength="15" class="form-control" [formControl]="userProfileForm.controls['bankIfscNo1']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.bankname2' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="bankName2" maxlength="30" class="form-control" [formControl]="userProfileForm.controls['bankName2']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.bankacno2' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="bankAcNo2" type="number" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['bankAcNo2']">
                      </div>
                    </div>

                    <div class="col-md-4 col-3-lt">
                      <p>{{'userprofile.bankifscno2' | translate }}: *</p>
                      <div class="input-group mr-t-0">
                        <input id="bankIfscNo2" maxlength="15" class="form-control" [formControl]="userProfileForm.controls['bankIfscNo2']">
                      </div>
                    </div>
                  </tab>

                  <tab heading="{{'accountinfo.reginfo' | translate}}">
                    <div class="ht-475">
                      <!-- Regs Info Starts -->
                      <div *ngIf="userProfileForm.controls['natureOfBusiness'].value == 'Wholesale' || userProfileForm.controls['natureOfBusiness'].value == 'Wholesale & Retail'" class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.licno1' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="licNo1" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['licNo1']">
                        </div>
                      </div>

                      <div *ngIf="userProfileForm.controls['natureOfBusiness'].value == 'Wholesale' || userProfileForm.controls['natureOfBusiness'].value == 'Wholesale & Retail'" class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.licno2' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="licNo2" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['licNo2']">
                        </div>
                      </div>
                      <div *ngIf="userProfileForm.controls['natureOfBusiness'].value == 'Wholesale' || userProfileForm.controls['natureOfBusiness'].value == 'Wholesale & Retail'" class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.licexpiry' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="licExpiry" type="date" class="form-control" [formControl]="userProfileForm.controls['licExpiry']">
                        </div>
                      </div>
                      <div *ngIf="userProfileForm.controls['natureOfBusiness'].value == 'Retail' || userProfileForm.controls['natureOfBusiness'].value == 'Wholesale & Retail'" class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.retlicno1' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="retLicNo1" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['retLicNo1']">
                        </div>
                      </div>
                      <div *ngIf="userProfileForm.controls['natureOfBusiness'].value == 'Retail' || userProfileForm.controls['natureOfBusiness'].value == 'Wholesale & Retail'" class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.retlicno2' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="retLicNo2" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['retLicNo2']">
                        </div>
                      </div>

                      <div *ngIf="userProfileForm.controls['natureOfBusiness'].value == 'Retail' || userProfileForm.controls['natureOfBusiness'].value == 'Wholesale & Retail'" class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.retexpiry' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="retExpiry" type="date" class="form-control" [formControl]="userProfileForm.controls['retExpiry']">
                        </div>
                      </div>
                      <div class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.foodlicno1' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="foodLicNo" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['foodLicNo']">
                        </div>
                      </div>
                      <div class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.otherlic' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="otherLicense" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['otherLicense']">
                        </div>
                      </div>
                      <div class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.otherlicexp' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="otherLicenseExpiry" type="date" class="form-control" [formControl]="userProfileForm.controls['otherLicenseExpiry']">
                        </div>
                      </div>

                      <div class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.gsttype' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="gstType" maxlength="5" class="form-control" [formControl]="userProfileForm.controls['gstType']"
                            [typeahead]="profileGstType" typeaheadOptionField="description" [typeaheadOptionsLimit]="7"
                            [typeaheadMinLength]="0">
                          <span class="caret mr-t-caret"></span>
                        </div>
                      </div>
                      <div *ngIf="userProfileForm.controls['gstType'].value == 'RGST' " class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.gstin' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="gstIN" maxlength="15" class="form-control" [formControl]="userProfileForm.controls['gstIN']">
                        </div>
                      </div>

                      <div *ngIf="userProfileForm.controls['gstType'].value == 'RGST' " class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.naturegst' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="natureOfGST" maxlength="9" class="form-control" [formControl]="userProfileForm.controls['natureOfGST']"
                            [typeahead]="accNatureOfGst" typeaheadOptionField="description" [typeaheadOptionsLimit]="7"
                            [typeaheadMinLength]="0">
                          <span class="caret mr-t-caret"></span>
                        </div>
                      </div>

                      <div *ngIf="userProfileForm.controls['gstType'].value == 'UGST' " class="col-md-4 col-3-lt">
                        <p>{{'accountinfo.uinNo' | translate}}: *</p>
                        <div class="input-group mr-t-0">
                          <input id="uin" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['uin']">
                        </div>
                      </div>
                      <!-- Regs Info Ends -->
                    </div>
                  </tab>
 
                </tabset>
              </div>
            

          </div>



          <div class="pd-btm-1">
            <app-buttons [title]="'userprofile.title'" [deleteConfirmMsg]="'userprofile.deleteConfirmationMessage'"
              [saveConfirmMsg]="'userprofile.saveConfirmationMessage'" [saveInfoMsg]="'userprofile.saveInformationMessage'"
              [endPoint]="endPoint" [deleteInfoMsg]="'userprofile.deleteInformationMessage'" [duplicateMessage]="duplicateMessage"
              [isBtnDeleteDisable]="deleteFlag" [hideSaveBtn]=true [hideResetBtn]=true [hideDeleteBtn]=false [formObj]="userProfileForm"
              (saveRecord)="save()" (deleteRecord)="delete()" (displayErrorMessages)="requiredErrMsg()" (afterSuccess)="successMsg()"
              (resetForm)="resetForm()"></app-buttons>
          </div>
          <!-- card-body -->

        </div>
      </form>
      </div>
    
  </div>













<ng-template #districtTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'districts.create' | translate }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="districtsForm" (ngSubmit)="saveChildForm('District', districtsForm)" autocomplete="off">

      <app-errormessages [formRequiredError]="scFormRequiredError" [formSuccess]="formSuccess" [formServerError]="sharedDataService.getErrorMesage()"
        [errorMessage]="'serverError.errorMessage'" [errorStatusCode]="sharedDataService.getErrorCode()"
        [errorStatusMsg]="sharedDataService.getErrorMesage()" [duplicateMessage]="childDuplicateMessage"
        [duplicateMessageParam]="childDuplicateMessageParam"></app-errormessages>

      <div class="input-group">
        <p>{{'districts.name' | translate }}: *</p>
        <input autofocus id="districtName" maxlength="20" class="form-control capitalize" (blur)="checkForDuplicateDistrictName()"
          [formControl]="districtsForm.controls['districtName']">
      </div>
      <div class="input-group">
        <p>{{'states.name' | translate }}: * &emsp;</p>
        <input id="stateName" maxlength="20" formControlName="stateName" [typeahead]="statesList" typeaheadOptionField="stateName"
          [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="onSelectState($event)" class="form-control capitalize">
        <span class="caret"></span>
      </div>


      <div class="input-group">
        <button type="button" (click)="resetChildForm()" class="btn btn-primary">Reset</button>
        <button type="submit" class="btn btn-primary mr-l-10">Save</button>
      </div>
    </form>

  </div>
</ng-template>
