<header></header>
<div class="  col-xs-12 card">
  <div class="row">
    <div class="col-xs-12 header">

      <div class="row">
        <h4>{{'userprofile.title' | translate }}</h4>
        <p>{{'userprofile.clientid' | translate }}:
          <input type="text" style="border:hidden; margin: 5px;">
        </p>
      </div>
    </div> <!-- header -->
    <div class="col-xs-12 card-body">
      <div class="col-xs-12">

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input autofocus id="name" maxlength="50" class="form-control" [formControl]="userProfileForm.controls['name']"
              placeholder="{{'userprofile.name' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="username" maxlength="50" class="form-control" [formControl]="userProfileForm.controls['username']"
              placeholder="{{'userprofile.username' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="address1" maxlength="50" class="form-control" [formControl]="userProfileForm.controls['address1']"
              placeholder="{{'userprofile.address1' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="address2" maxlength="50" class="form-control" [formControl]="userProfileForm.controls['address2']"
              placeholder="{{'userprofile.address2' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="town" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['town']"
              placeholder="{{'userprofile.town' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="pin" type="number" maxlength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              class="form-control" [formControl]="userProfileForm.controls['pin']" placeholder="{{'userprofile.pin' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="district" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['district']"
              placeholder="{{'userprofile.district' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="state" maxlength="25" class="form-control" [formControl]="userProfileForm.controls['state']"
              placeholder="{{'userprofile.state' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="statecode" type="number" maxlength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              class="form-control" [formControl]="userProfileForm.controls['statecode']" placeholder="{{'userprofile.statecode' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input id="phoneLand1" maxlength="15" class="form-control" [formControl]="userProfileForm.controls['phoneLand1']"
              placeholder="{{'userprofile.phone' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input id="mobile1" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              class="form-control" [formControl]="userProfileForm.controls['mobile1']" placeholder="{{'userprofile.mobile1' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input id="mobile2" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              class="form-control" [formControl]="userProfileForm.controls['mobile2']" placeholder="{{'userprofile.mobile2' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="contactPerson" maxlength="50" class="form-control" [formControl]="userProfileForm.controls['contactPerson']"
              placeholder="{{'userprofile.contactperson' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input id="cPersonMobile" type="number" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              class="form-control" [formControl]="userProfileForm.controls['cPersonMobile']" placeholder="{{'userprofile.contactpersonmobile' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input id="natureofbusiness" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['natureofbusiness']"
              placeholder="{{'userprofile.natureofbusiness' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
            <input id="bank1" maxlength="30" class="form-control" [formControl]="userProfileForm.controls['bank1']"
              placeholder="{{'userprofile.bankname1' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
            <input id="bankacno1" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['bankacno1']"
              placeholder="{{'userprofile.bankacno1' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
            <input id="bankifsc1" maxlength="15" class="form-control" [formControl]="userProfileForm.controls['bankifsc1']"
              placeholder="{{'userprofile.bankifscno1' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
            <input id="bank2" maxlength="30" class="form-control" [formControl]="userProfileForm.controls['bank2']"
              placeholder="{{'userprofile.bankname2' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
            <input id="bankacno2" maxlength="20" class="form-control" [formControl]="userProfileForm.controls['bankacno2']"
              placeholder="{{'userprofile.bankacno2' | translate }}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
            <input id="bankifsc2" maxlength="15" class="form-control" [formControl]="userProfileForm.controls['bankifsc2']"
              placeholder="{{'userprofile.bankifscno2' | translate }}">
          </div>
        </div>
      </div>

      
      <div class="col-xs-4 btn-admin">
        <br> <button type="submit" class="btn btn-success">Reset</button>&nbsp;
        <button type="submit" class="btn btn-success">Submit</button>

      </div> 
      <!-- card-body -->
    </div>
  </div>
