<div class="col-md-12">
  <div class="row">
    <div class="col-md-5">
      <h3>Sub-schedule</h3>
      <form [formGroup]="subScheduleForm" (ngSubmit)="save()" autocomplete="off">
        <div class="row">
          <div class="error-text col-xs-12" *ngIf="formError">
            <p class="text-danger">All fields are mandatory!!</p>
          </div>
        </div>

        <div class="input-group">
          <p>Sub-schedule Name: *</p>
          <input id="subScheduleName" class="form-control" [formControl]="subScheduleForm.controls['subScheduleName']">
        </div>
        <div class="input-group">
          <p>Schedule Name: * &emsp; (<a style="cursor: pointer" (click)="openModal(template)">create new</a>)</p>
          

          <!-- <select [formControl]="subScheduleForm.controls['scheduleId']" class="form-control">
            <option *ngFor="let item of scheduleList" [value]="item.id">{{item.scheduleName}}</option>
          </select> -->

          <input id="scheduleType" formControlName="scheduleName" [typeahead]="scheduleList" typeaheadOptionField="scheduleName"
            [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" (typeaheadOnSelect)="onSelectSchedule($event)" class="form-control">
          <span class="caret"></span>

        </div>
        <div class="input-group">
          <p>Sub-schedule Index: * </p>
          <input id="subScheduleIndex" class="form-control" [formControl]="subScheduleForm.controls['subScheduleIndex']">
        </div>

        <div class="input-group">
          <button type="button" (click)="resetForm()" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-primary mr-l-10">Save</button>
          <button type="button" *ngIf="editSubSchedule" (click)="delete()" class="btn btn-danger float-right">Delete</button>
        </div>

      </form>
    </div>
    <div class="col-md-7">
      <br /><br />
     
      <ag-grid-angular #agGrid style="height: 400px; width: 100%;" class="ag-theme-balham" [rowData]="subScheduleList" [columnDefs]="subScheduleListColumns" [rowSelection]="rowSelection" (gridReady)="onGridReady($event)" [navigateToNextCell]="navigateToNextCell" (selectionChanged)="onSelectionChanged($event)" [paginationAutoPageSize]="true" [pagination]="true" >
      </ag-grid-angular>


    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-body">
      <form [formGroup]="scheduleForm" (ngSubmit)="saveSchedule()" autocomplete="off">
          <div class="row">
            <div class="error-text col-xs-12" *ngIf="formError">
              <p class="text-danger">All fields are mandatory!!</p>
            </div>
          </div>
  
          <div class="input-group">
            <p>Schedule Name: *</p>
            <input id="scheduleName" class="form-control" [formControl]="scheduleForm.controls['scheduleName']">
          </div>
          <div class="input-group">
            <p>Schedule Index: *</p>
            <input id="scheduleIndex" class="form-control" [formControl]="scheduleForm.controls['scheduleIndex']">
          </div>
          <div class="input-group"> 
            <p>Schedule Type: </p>
            <input id="scheduleType" formControlName="scheduleType" [typeahead]="scheduleTypes" typeaheadOptionField="code"
              [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" class="form-control">
            <span class="caret"></span>
          </div>
  
          <div class="input-group">
            <button type="button" (click)="resetScheduleForm()" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-primary mr-l-10">Save</button>
          </div>
  
        </form>
    <!-- <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button> -->
  </div>
</ng-template>
